html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: $light_grey;
	font-family: $open_sans;
	color: $black;
	height: auto;
}

body.single {
	background-color: $white;
}

// Fix core bug
@media screen and (max-width: 782px) {
	body { position: inherit; }
}

.clear-both {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

a {
	color: $red;
}
