html,
body {
	margin: 0;
	padding: 0;
}

body, .grey-background {
	background-color: $light_grey;
	font-family: $open_sans;
	color: $black;
	height: auto;
	position: relative;
	z-index: 2;
}

body.single {
	background-color: $white;
}

// Fix core bug
@media screen and (max-width: 782px) {
	body { position: inherit; }
}

.clear-both {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

a {
	color: $red;
}

#menu-homepage-footer {
	ul, li {
		display: inline;
	}
}

.cst-checkbox, .reader-checkbox, .splash-checkbox {
  float:left;
  width:250px;
}
.reader-checkbox, .splash-checkbox {
  margin-left:60px;
}
.cst-marker {
  color: #fdfd98;
}

#map {
	max-height: 800px;
	min-height: 600px;
	height: 90%;
}
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#target {
	width: 345px;
}
