@media #{$large-up} {
	.homepage-content {
		.row {
			max-width:$page_width;
		}
	}
}
@media #{$large-down}{
	.row {
		.row {
/*			margin-left: 0px;
			margin-right: 0px;*/
		}
	}
}
.show-for-small-device-landscape {
	display: none;
}
@media #{$xmediumi-down} and (orientation: landscape) {
	.show-for-small-device-landscape {
		display: block;
	}
}
@media #{$small-only} and (orientation: landscape) {
	.show-for-small-only {
		display: none !important;
	}
}

// Stories
@mixin stories {
	.stories,
	.mini-stories {
		.post-meta-author {
			a {
				color: $cst_black;
			}
		}
	}
	.single-mini-story {
		float: left;
		margin-bottom: 0.5rem;
	}
	.stories-container {
		.stories {
			p,
			li {
				font-size: 0.9rem;
				line-height: 1.3;
				margin-bottom: 0.25rem;
				font-family:$homepage_font;
				color: $cst_black;
			}
			.authors {
				font-size: 0.8rem;
				line-height: 1.3;
			}
			.lead-related-stories-collection {
				list-style-type: none;
				margin-left: 0;
				padding-left: 0;
				li {
					border-bottom: 1px solid $homepage_border_grey;
					&:last-child {
						border-bottom: none;
					}
				}
			}
			.lead-story, .hero-story {
				h3 {
					&.hero-title {
						font-size: 1.9rem;
						line-height: 2rem;
						font-weight:700;
					}
				}
				.excerpt {
					float: left;
				}
				.image {
					float: right;
					@media #{$small-only} and (orientation: portrait) {
						float: none;
						img {
							width: 100%;
						}
					}
				}
				border-bottom: 1px solid $homepage_border_grey;
				float: left;
				padding-bottom: 1rem;
				margin-bottom: 0.25rem;
				&:last-child {
					border-bottom: none;
				}
			}
			.related-stories {
				float:left;
				.related-title {
					list-style-type: square;
					h3 {
						font-weight: 600;
						font-size: 0.8rem;
						line-height: 1.1rem;
					}
					li {
						float:left;
						a {
							float:left;
						}
					}
				}
			}
		}
		.more-stories-container {
			h3 {
				font-size: 0.9rem;
				line-height: 1.2rem;
			}
			.authors {
				font-size: 0.8rem;
				line-height: 1.3;
			}
			.more-sub-head {
				text-transform: uppercase;
				font-size: 1rem;
				font-family: $homepage_font;
				font-weight: 400;
				background-color: $homepage_border_grey;
				color: $cst_black;
				padding: 0.25rem;
				margin-top:0;
				a {
					color: $cst_black;
				}
			}
			.stories-list {
				float: left;

				h3 {
					font-size: 1rem;
					text-transform: uppercase;
					font-weight: 600;
					padding: 0 0 2px 10px;
					position: relative;
					width: 100%;
					color: $cst_black;
				}

				.latest-story {
					font-size: 0.8rem;
					line-height: 1rem;
					padding: 0.4rem 0 0 0;
					clear: both;
					.image-right {
						float: right;
						margin: 0 0 0 0.4rem;
					}
					.title {
						padding-left:0;
						a {
							color: $cst_black;
							font-weight:600;
							font-size: 0.8rem;
							line-height: 1rem;
						}
					}
					.image {
						padding-right:0;
					}
				}
			}
			.featured-story {
				h3 {
					font-size: 1.2rem;
					line-height: 1.5rem;
				}
				.featured-story-hero {
					width: 100%;
				}
			}
			.mini-featured-stories {
				@media #{$xmediumi-only} {
					.mini-image {
						width:100%;
					}
				}
				@media #{$xmedium-only} and (orientation: landscape) {
					.single-mini-story {
						.mini-image {
							width: 100%;
						}
						.mini-title {
							width: 100%;
							h3 {
								font-size: 0.8rem;
								line-height: 1rem;
							}
						}
					}
				}
				@media #{$xmedium-only} and (orientation: portrait) {
					.single-mini-story {
						width:100%;
						.mini-image {
							width: 50%;
						}
						.mini-title {
							width: 50%;
							padding-left:0;
							h3 {
								font-size: 0.8rem;
								line-height: 1rem;
							}
						}
					}
				}
			}
		}
		.mini-stories {
			.prime-lead-story,
			.remaining-stories {
				float:left;
				margin-bottom: 0.5rem;
			}
			@media #{$xmedium-only} and (orientation: portrait) {
				.prime-lead-story {
					width:100%;
					.prime {
						padding-right:0;
					}
					.prime-excerpt {
						.excerpt {
							font-size: 0.8rem;
							line-height:1.2;
						}
					}
				}
				.remaining-stories {
					width:100%;
				}
			}
			@media #{$large-only} and (orientation: landscape) {
				.prime-lead-story {
					width:33.33333%;
					.prime {
						padding-right:0;
						width:100%;
					}
					.title-container {
						width:100%;
					}
					.prime-excerpt {
						.excerpt {
							font-size: 0.8rem;
							line-height:1.2;
						}
					}
				}
				.remaining-stories {
					width:66.66667%;
					.single-mini-story {
						position: relative;
						.mini-image {
							width: 100%;
						}
						.mini-title {
							width: 100%;
							h3 {
								font-size: 0.8rem;
								line-height: 1rem;
							}
						}
					}

				}
			}
			@media #{$xmedium-only} and (orientation: landscape) {
				.prime-lead-story {
					width:100%;
				}
				.remaining-stories {
					width:100%;
				}
			}
			h3 {
				font-size: 0.9rem;
				line-height: 1.2rem;
				@media #{$wallpaper-only} and (orientation: landscape) {
					font-size: 0.8rem;
					line-height: 1rem;
				}
			}
			.mini-story {
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
				display: inline-block;
				float: left;
				padding-top: 0.625rem;
				.image {
					margin-right: 0.25rem;
					padding: 0 0.625rem;
				}
				img,
				.image,
				.authors {
					float: left;
				}
				.authors {
					margin-left: 0.625rem;
				}
			}
			.single-mini-story {
				@media #{$small-only} and (orientation: portrait) {
					> .prime {
						img {
							width: 100%;
						}
					}
				}
			}
			.remaining-stories {
				.single-mini-story {
					float: left;
					@media #{$xmediumi-only} and (orientation: portrait) {
						> .mini-image {
							padding-right:0;
							padding-bottom:0.4375rem;
						}
					}
					@media #{$xmedium-only} and (orientation: landscape) {
						> .mini-image {
							padding-right:0;
							padding-bottom:0.1rem;
						}
						> .mini-title {
							padding-left:0;
						}
					}
					@media #{$small-only} and (orientation: portrait) {
						> .prime {
							img {
								width: 100%;
							}
						}
					}
				}
			}
			.byline {
				margin-top:0.5rem;
			}
			.prime-lead-story {
				h3 {
					font-size: 1.1rem;
					line-height: 1.4rem;
				}
			}
		}
		h3 {
			font-size: 1.1rem;
			line-height: 1.4rem;
			margin-top: 0;
			font-weight: 700;
			&.alt-title {
				font-size: 1.1rem;
				line-height: 1.4rem;
			}
		}
	}
	.latest-stories {
		a {
			color:$cst_black;
		}
	}
	.other-stories {
		&.more-stories-container {
			clear: both;
		}
		h2 {
			font-size: 1.1rem;
			line-height: 1.3rem;
			font-weight: 600;
		}
		.cb-list {
			margin-left: 0.1rem;
			padding:0
		}
		.cb-articles {
			list-style-type: none;
			padding: 5px;
			text-align: left;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
			margin-bottom: 0.5rem;
			background: $white;
		}
		.section-name {
			text-transform: uppercase;
			font-size: 0.8rem;
			font-weight: 600;
			margin-right: 0.5rem;
		}
		.list {
			margin-left: 0;
			padding-left: 0;
			line-height:1.3rem;
			li {
				list-style-type: none;
				margin-bottom: 0.35rem;
				&:last-child {
					border-bottom: none;
				}
				.section-name {
					text-transform: uppercase;
					font-weight: 600;
				}
				a {
					color: $cst_black;
				}
			}
		}
	}
	.other-lead-stories {
		.lead-mini-story {
			@media #{$small-only} and (orientation: portrait) {
				.prime {
					.image {
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}
	@media #{$xmedium-only} and (orientation: portrait) {
		.stories-container {
			.stories {
				width: 58%;
			}
			.sidebar {
				width: 42%;
			}
			.single-mini-story {
				.medium-4 {
					width: 50%;
				}
				.medium-8 {
					width: 100%;
				}
			}
		}
		.magic-link-size {
			font-size: 0.8rem;
			line-height: 1.2rem;
		}
		.section_front_wrapper {
			&.stories-container {
				.sidebar {
					width:auto;
				}
			}
		}
	}
}