/**
 * Colors
 */
$black: #282828;
$light_black: #3E3E3E;
$red: #D22D42;
$light_red: #CD606E;
$grey: #CCCCCC;
$light_grey: #F8F8F8;
$social_grey: #9A9A9A;
$box_grey: #E6E6E6;
$white: #FFFFFF;
$text_white: #FFFFFF;
$twitter_blue: #59ADEB;
$facebook_blue: #3C5A96;
$google_red: #D34836;
$chiwire_grey: #484848;
$line_grey: #CDCDCD;
$menu_black: #333333;
$cst_black: #231f20;
$cst_yellow: #ffe000;
$masthead_background: #ffffff;
$site_background: #f8f8f8;
$homepage_grey: #DADFE2;
$homepage_background: #111111;
$homepage_more_background: #0E1213;
$homepage_border_grey: #EEEEEE;
$homepage_tagline_grey: #D9DEE1;
$homepage_category_grey: #7D7E7E;
$bears_orange: #DD4814;
$sports_blue: #34485E;
$politics_blue: #29AAE2;
$entertainment_green: #00AE04;
$lifestyles_purple: #873AFA;
$opinion_grey: #BDBDBD;
$columnists_yellow: #D5C35F;
$image_shadow: #B0ADAD;
$image_hover: #CB8282;
$line: #DDDDDD;
$section_title: #A8A1A1;
$anchor-highlight: $homepage_category_grey;
$content_anchor-highlight: #008cba;
/**
 * Fonts
 */
$open_sans: 'Open Sans', Arial, sans-serif;
$homepage_font: 'Libre Franklin', Arial, sans-serif;
$article_content: 'Libre Franklin', Arial, sans-serif;
$open_sans_condensed: 'Open Sans Condensed', Arial, sans-serif;
$merriweather: 'Merriweather', Georgia, serif;
$headings: 'Libre Franklin', Arial, sans-serif;

/**
* Custom padding, spacing for homepage
*/
$homepage_content_width: 60.7rem;
$homepage_sidebar: 1.3575rem;
$homepage_intra_column_padding: 0.3375rem;

/**
* Sizes and other variables
 */

$masthead_height: 45px;
$iphone_5_width: 355px;