tr.cst-is-in-print-feed .post-title strong .dashicons.dashicons-welcome-widgets-menus {
	margin-left: 5px;
	color: #bbb;
}

.widget-error {
	margin: 5px 0 15px;
	border-left: 4px solid #dd3d36;
	border-top:2px solid #fff;
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	padding: 1px 12px;
}

#postexcerpt .inside p:nth-child(0) {
	visibility: hidden;
}
.fm-cst_long_excerpt textarea {
    width:100%;
}
.media-frame-content label[data-setting="caption"] #character-limit {
	width: 65%;
	float: right;
}

.media-frame-content label[data-setting="caption"] #character-limit span {
	float: none;
}

#newswire .sidebar-name, #news_headlines .sidebar-name {
    border-top:2px solid #D22D42;
}
#sportswire .sidebar-name, #sports_headlines .sidebar-name {
    border-top:2px solid #34485E;
}
#sportswire .sidebar-name h2 {
    margin-top: -2px;
}
#entertainmentwire .sidebar-name, #entertainment_headlines .sidebar-name {
    border-top:2px solid #00AE04;
}
#entertainmentwire .sidebar-name h2 {
    margin-top: -2px;
}
#politicswire .sidebar-name, #politics_headlines .sidebar-name {
    border-top:2px solid #29AAE2;
}
#politicswire .sidebar-name h2 {
    margin-top: -2px;
}
#opinionwire .sidebar-name, #opinion_headlines .sidebar-name {
    border-top:2px solid #BDBDBD;
}
#opinionwire .sidebar-name h2 {
    margin-top: -2px;
}
#lifestyleswire .sidebar-name, #lifestyles_headlines .sidebar-name {
    border-top:2px solid #873AFA;
}
#lifestyleswire .sidebar-name h2 {
    margin-top: -2px;
}
#columnistswire .sidebar-name, #columnists_headlines .sidebar-name {
    border-top:2px solid #D5C35F;
}
#columnistswire .sidebar-name h2 {
    margin-top: -2px;
}
#obitswire .sidebar-name, #obits_headlines .sidebar-name {
    border-top:2px solid #222222;
}
#obitswire .sidebar-name h2 {
    margin-top: -2px;
}
.taxonomy-cst_section input.fm-datepicker-popup {
    max-width:6rem;
}
.taxonomy-cst_section input.fm-datepicker-time {
    max-width:2rem;
}
.preview-tablet-landscape .wp-full-overlay-main {
    margin: auto 0 auto -512px;
    width: 1024px;
    height: 768px;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
}
.wp-full-overlay-footer .devices .preview-tablet-landscape:before {
    transform: scaleX(-1) rotate(0.25turn);
    content: '\f471';
}
.preview-mobile .wp-full-overlay-main {
    margin: auto 0 auto -187px;
    width: 375px;
}

.preview-tablet .wp-full-overlay-main {
    margin: auto 0 auto -384px;
    width: 768px;
}

.btn {
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
	text-decoration: none;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
.btn-success {
	color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-primary {
	color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-info {
	color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-default {
	color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-danger {
	color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-inverse {
	color: #fff;
  background-color: #333;
  border-color: #fff;
} /* Black */

.btn-inverse:hover {
	color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

#cst-wire-curator-button-group {
	display: inline;
	float: right;
}

.tab-pane {
	display: none;
}

.active {
	display: inline-block;
}

.photo_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.photo_list li {
	float: left;
	margin-left: 5px;
	padding: 0;
}

.photo_list li img {
	width: 230px;
}

.photo_list li .thumbnail {
	display: block;
	position: relative;
}

.photo_list li .on-hover {
	position: relative;
  display: block;
  top: -25px;
  background: white;
  height: 25px;
	color:white;
	background:rgba(0,0,0,.7);
}

.photo_list li .on-hover .preview-btn {
	cursor: pointer;
	color: white;
}

.preview {
	display: none;
	position: absolute;
  top: 37px;
  left: 0;
  width: 100%;
  height: 94%;
	background:rgba(0,0,0,.7);
	z-index: 1;
}

.preview .close {
	position: absolute;
  right: 0;
  top: 0;
  color: #EEE;
	background:#333;
	cursor: pointer;
}

.preview img {
	width: 100% !important;
}

.preview .close:before {
    font: 400 20px/36px dashicons;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 36px;
    height: 36px;
    content: '\f158';
}
