.media-modal-content a.cst-import-merlin {
	display: none;
}

#merlin-import-error {
	float: left;
	margin-top: 10px;
	display: block;
	color: #b44;
	word-wrap: break-word;
	padding: 8px;
	border: 1px #c00 solid;
	background: #ffebe8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}