/* CSS Document */

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
    background-color: #fff;
    color: #3a4145;
    float: left;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-size: 12px;
    height: auto;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 0;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
#s_team-midsection table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}
#s_team-midsection table tr th,
#s_team-midsection table tr td {
    color: #222;
    text-align: left;
}
#s_team-midsection a:link,
#s_team-midsection a:visited {
    color: #282828;
    text-decoration: none;
}
#s_team-midsection a:hover,
#s_team-midsection a:active {
    color: #9a9a9a;
    text-decoration: none;
}
.onoff > a {
    padding: 3px;
}
.s_team-probable-goalies {
    padding-left: 3px;
}
#s_team-midsection {
    clear: both;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;
    margin: 5px auto -1px auto;
    max-width: 1070px;
    min-height: 350px;
    padding: 10px 26px 20px 26px;
    position: relative;
    width: 100%;
}
.s_team-mid{
 margin-top: 100px !important;
}
div[id*="s_team-rail-content"] {
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0 330px 0 0;
    text-align: left;
    width: 100%;
}
div[id*="s_team-rail-content"] th[align="right"],
div[id*="s_team-rail-content"] td[align="right"] {
    text-align: right !important;
}
div[id*="s_team-rail-menu"] div {
    margin-bottom: 20px;
}
.s_team-title-page-type,
.s_team-news-rumors-ttl {
    border-bottom: 1px solid #ccc;
    clear: left;
    color: #222;
    font-family: "Open Sans", Georgia, "Times", serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 5px;
    text-align: left;
    text-transform: uppercase;
}
.s_team-title-page-section {
    background-color: #231f20;
    clear: both;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 5px;
    text-align: left;
    text-indent: 3px;
    color: #fff;
    border-radius: 5px;
}
.s_team-clear,
.s_team-row {
    clear: both;
}
#s_team-midsection select {
    border: 1px solid #ccc;
    border-radius: 0;
    display: block;
    font-family: inherit;
    font-size: inherit;
    height: auto;
    margin: 1px 0 3px;
    padding: 3px 10px 3px 1px;
    width: auto;
}
.s_team-team-logo {
    display: none;
}
.s_team-so {
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
}
.s_team-so-title,
.s_team-data-top {
    background-color: #795d1e;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
div[id*="s_team-rail-content"] table {
    background-color: #cccccc;
    border: 0;
    border-collapse: separate;
    border-spacing: 1px;
    margin-bottom: 3px;
    width: 100%;
}
div[id*="s_team-rail-content"] table.mlb_bso {
    background-color: #fff;
    border: 1px solid #ccc;
}
div[id*="s_team-rail-content"] th,
div[id*="s_team-rail-content"] td {
    padding: 5px 4px;
    line-height: 1.4em;
}
div[id*="s_team-rail-content"] table.mlb_bso td {
    font-size: inherit;
    padding: 2px 3px;
}
.s_team-datahead-sub,
.s_team-datahead-sub-nb,
.s_team-datahead-sub-odds,
.s_team-datahead-sub-odds-mlb,
.s_team-datahead-sub-odds-nfl {
    background-color: #F7F7F7;
    color: #444;
}
.s_team-datahead-sub {
    font-weight: bold;
}
td.s_team-datacell {
    background-color: #ffffff;
}
.s_team-divScoreColumn_2-2 {
    float: right;
    margin: 0;
    padding: 0;
    width: 49%;
}
.s_team-calendar-holder {
    float: right;
    margin-left: 0;
    margin-top: 10px;
}
.s_team-calendar-holder table td,
.s_team-calendar-holder table th {
    padding: 2px 10px !important;
    text-align: center !important;
}
.s_team-calendar-holder table {
    font-size: 12px !important;
}
.s_team-divScoreColumn_1-2,
.s_team-divScoreColumn_1-3,
.s_team-divScoreColumn_3-3 {
    padding: 0;
    margin: 0;
    width: 49%;
    float: left;
}
.s_team-roundup-links {
    float: left;
    clear: left;
    border: 1px solid #ccc;
    border-width: 1px 0;
    font-size: 110%;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 10px;
    padding: 8px 7px 8px 4px;
    width: auto;
    color: #900;
    white-space: nowrap;
}
.s_team-LeftCol-mid,
.s_team-LefttCol-mid,
.s_team-RightCol-mid {
    float: left;
    margin: 0;
    padding: 0;
    width: 48%;
}
.s_team-RightCol-mid {
    float: right;
}
.s_team-title-main-id-text {
    display: none;
}
.calendar button,
.calendar .button {
    display: table-cell;
    background-color: #795d1e;
    border-color: #795d1e;
    color: #fff !important;
}

/*****calendar css*****/

div.calendar {
    font-size: smaller;
    color: #000;
}
div.calendar.popup {
    margin-left: -40px;
    margin-top: -100px;
}
div.calendar table {
    background-color: #eee;
    border: 1px solid #aaa;
    border-collapse: collapse;
}
div.calendar thead {
    background-color: white;
}
div.calendar td,
div.calendar th {
    padding: 3px;
    text-align: center;
}
div.calendar td.title {
    font-weight: bold;
}
div.calendar th {
    background: #ddd;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: bold;
    color: #555;
}
div.calendar tr.days td {
    width: 2em;
    color: #555;
    text-align: center;
    cursor: pointer;
}
div.calendar tr.days td:hover,
div.calendar td.button:hover {
    background-color: rgba(121, 93, 30, 0.82);
    cursor: pointer;
    color: #fff !important;
}
div.calendar tr.days td:active div.calendar td.button:active {
    background-color: #cde;
}
div.calendar tr.days td.selected {
    font-weight: bold;
    background-color: #795d1e;
    color: #fff !important;
}
#s_team-midsection .calendar tr.days td.otherDay {
    color: #bbb;
}
/*****calendar css*****/

@media (max-width: 979px) {
    .s_team-player-profile .s_team-playerpic img {
        max-width: 150px;
        min-width: 80px;
        width: 100%;
    }
}
@media (max-width: 900px) {
    #s_team-rail-menu,
    #s_team-rail-menu-odds,
    #s_team-rail-menu-boxscore {
        display: none;
    }
    div[id*="s_team-rail-content"] {
        margin-left: 1%;
        padding-right: 0px;
        width: 98%;
    }
    .s_team-logo-covers > span {
        max-width: none;
        width: 99%;
    }
    #s_team-midsection table.s_team-data-wide {
        /*for the width of full tables*/
        
        line-height: 1.5em;
    }
    #s_team-hnavigation * {
        line-height: 2em;
    }
    .s_team-triangle {
        top: 16px;
    }
    .s_team-hnav-prosports .s_team-hnav-drop-parent:hover .s_team-drop-function {
        height: 12em;
    }
}
@media (max-width: 1100px) and (min-width: 900px) {
    .s_team_scoreboard_holder {
        display: none;
    }
    .s_team-LeftCol-mid,
    .s_team-LefttCol-mid,
    .s_team-RightCol-mid,
    .s_team-WideCol,
    .s_team-NarrowCol,
    .s_team-divScoreColumn_1-2,
    .s_team-divScoreColumn_1-3,
    .s_team-divScoreColumn_2-2,
    .s_team-divScoreColumn_3-3 {
        float: none !important;
        margin: 0;
        padding: 0;
        width: 100% !important;
    }
    .s_team-league-in-depth,
    .s_team-league-main {
        height: auto;
        width: 94%;
    }
}
@media (max-width: 650px) {
    .s_team_scoreboard_holder {
        display: none;
    }
    .s_team-LeftCol-mid,
    .s_team-LefttCol-mid,
    .s_team-RightCol-mid,
    .s_team-WideCol,
    .s_team-NarrowCol,
    .s_team-divScoreColumn_1-2,
    .s_team-divScoreColumn_1-3,
    .s_team-divScoreColumn_2-2,
    .s_team-divScoreColumn_3-3 {
        float: none !important;
        margin: 0;
        padding: 0;
        width: 100% !important;
    }
    .s_team-league-in-depth,
    .s_team-league-main {
        height: auto;
        width: 94%;
    }
    .s_team-title-page-type,
    .s_team-news-rumors-ttl {
        font-size: 22px;
    }
}
@media (max-width: 475px) {
    #s_team-rail-content-sm .s_team-title-page-type {
        width: auto;
        margin-top: -45px;
    }
    .s_team-calendar-holder {
        margin-left: 0px;
        margin-top: 40px;
        width: 100%;
    }
    .s_team-calendar-holder>div {
        width: 100%;
        padding-bottom: 15px;
    }
    .s_team-scores-note {
        margin-top: 10px;
    }
    #s_team-midsection{
        padding: 10px;
        margin: 0;
    }
    div[id*="s_team-rail-content"] {
    margin-left: 0;
    padding-right: 0px;
    width: 100%;
    }
    .s_team-mid {
    margin-top: 50px !important;
    }
}
@media (max-width: 350px) {
    #s_team-masthead .show-for-small-device-landscape {
        display: block;
    }
    .s_team-roundup-links {
    font-size: 95%;
    }

}
@media (min-width: 540px) and (max-width: 755px) {
    #s_team-masthead .show-for-small-device-landscape {
        display: block;
    }
}