footer {
	.copyright {
		color: #fff;
	}
	background: $black;
	hr {
		color: #fff;
	}
	ul {
		display: inline-block;
		li {
			color: #fff;
			list-style: none;
			a,
			&:visited,
			&:hover{
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
	#social-links {
		position: relative;
		top: inherit;
		right:inherit;
		float: right;
	}
}
