/* HEADER */
.logo-wrapper.large-logo {
	@media (min-width: 1250px) {
		display: block;
	}
	@media (max-width: 1249px) {
		display: none !important;
	}
}
header {
	.contain-to-grid {
		.top-bar {
			.top-bar-section {
				background-color: $masthead_background;
				#menu-homepage-left, #menu-homepage {
					.menu-item {
						&.obit-external {
							display: block;
						}
						&.hide-obit-external {
							display: none;
						}
					}
				}
				min-height:146px;
			}
			@media only screen and (min-width: 78.063em) {
				.top-bar-section li:not(.has-form) a:not(.button) {
					background-color: $site_background;
					color: $black;
					padding: 0 12px;
				}
			}
		}
		.cst-row {
			margin: 0 auto;
		}
	}
}
@media only screen and (min-width: 78.063em) {

	header {

		.contain-to-grid {
			background-color: transparent;
			.top-bar {
				max-width: 100%;
				margin: 0 auto;
				height: 186px;
				background-color: transparent;

				.small-logo {
					@media (min-width: 1250px) {
						display: none;
					}
					@media (max-width: 1249px) {
						display: block;
					}
				}

				ul li>a {
					font-family: 'Raleway', sans-serif;
					font-weight: 300;
					font-size: 11px;
					text-transform: uppercase;
					text-align: left;
				}

				.top-bar-section {
					text-align: center;
					z-index: 3;
					border-bottom: 1px solid $cst_black;
					box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
					float: none;
					line-height: 1;
					.logo-wrapper {
						.logo {
							width: 300px;
							display: block;
							margin: 0 auto;
							padding-top:10px;
						}
					}

					.dropdown {
						li {
							a {
								line-height: 30px !important;
							}
						}
					}

					#menu-homepage-left, #menu-homepage {
						display: inline-table;

						.menu-item {
							display: inline;
							&.obit-external {
								display: none;
							}
							&.hide-obit-external {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}