/* HEADER */
.search {
	.has-form {
		background-color: $cst_black;
	}
	background-color: $cst_black;
	.button,
	.search-input {
		height: 1.7rem;
		width: 100%;
		//transition: width 1s;
		&:focus {
			width: 100%;
		}
	}
	.search-input-wrapper {
		.search-icon{
			font-size: 1.675rem;
			float:left;
			margin-left:1rem;
			color: $white;
			padding:0;
			a, a:visited, a:hover, a:active {
				color: $white;
				line-height:$masthead_height;
			}
		}
	}
	.glass {
		font-size: 1.5rem;
		color: #ffffff;
		line-height: 2.5rem;
	}

	.subscribe {
		color: $white;
		background-color: $site_background;

	}
	#search-button {
		font-size: 1.5rem;
		color: #333333;
		position: absolute;
		right: inherit;
		top: 5px;
		background: transparent;
	}
}
.weather {
	padding: 10px 8px;
	.weather-link {
		line-height: 24px;
		color: $white;
		&:hover,
		&:visited {
			color: $white;
		}
		.degrees {
			color: $cst_yellow;
			i {
				color: $cst_yellow;
			}
		}
	}
}
.responsive-logo-wrapper {
	margin-top:50px;
	.utility {
		.search {
			.search-wrap {
				ul {
					margin-left:0;
				}
			}
			.search-input-wrapper {
				.search-icon {
					margin: 0;
					font-size: 1.7rem;
					line-height: 1rem;
				}
			}
		}
	}
	.large-logo {
		max-width: 300px;
		margin: 0 auto;
	}
}
.logo-wrapper.large-logo {
	@media #{$xmedium-up} {
		display: block;
	}
	@media #{$medium-down} {
		display: none !important;
	}
}

.date {
	font-family: $merriweather;
	height: 26px;
	font-size: 1rem;
	line-height: 1.5rem;
}
.sponsor-wrapper {
	max-width: 62.5rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	.sponsor-ear {
		width: 184px;
		height: 90px;
		margin-top: 7px;
		&.left {
			float: left;
		}
		&.right {
			float: right;
		}
	}
}
.cst-navigation-container {
	margin: 10px auto 0;
	text-align: center;
	clear: both;
	height: 40px;
	ul {
		margin:0;
		display: inline-block;
		li {
			float:left;
			list-style: none;
			background:transparent;
		}
	}
	a {
		font-size: 1rem;
		line-height:1rem;
	}
	.nav-holder {
		max-width: 62.5rem;
		border-top: 4px solid $cst_black;
	}
	.nav-descriptor {
		float: left;
		display: inline-block;
		height: auto;
		line-height: 32px;
		padding: 0;
		margin: 0;
		font-size: 1rem;
		font-weight: bold;
		ul {
			li {
				background: $light_grey;
				color: $cst_black;
				line-height:32px;
				padding-right:10px;
			}
		}
	}
}
header {
	.contain-to-grid {
		.top-bar {
			background: $cst_black;


		.top-bar-section {
			background: $light_grey;
				#menu-homepage-left, #menu-homepage {
					.menu-item {
						&.obit-external {
							display: block;
						}
						&.hide-obit-external {
							display: none;
						}
					}
				}
				a {
					padding-right: 0 !important;
				}
				.sponsor-wrapper {
					@media (min-width: 1024px) {
						display: block;
						clear: both;
					}
					@media (max-width: 1023px) {
						display: none;
					}
				}
				.has-dropdown>a:after {
					content: "";
					display: block;
					width: 0;
					height: 0;
					border: inset 5px;
					border-color: rgba(0,0,0,0.7) transparent transparent transparent;
					border-top-style: solid;
					margin-top: -8px;
					top: 22.5px;
					right: -14px;
				}
				.masthead-sections {
					ul {
						list-style-type: none;
						background: $cst_black;
					}
					li,
					li:not(.has-form) > a, a:not(.button) {
						background: $cst_black;
						line-height:45px;
						color: $white;
					}
				}
			}
			@media only screen and (min-width: 78.063em) {
				.top-bar-section li:not(.has-form) a:not(.button) {
					padding: 0 14px !important;
					&:hover {
						background-color: $cst_black;
						color:#fff;
					}
				}
			}
			@media #{$overlap-up} {
				.dropdown {
					left: 0;
					top: auto;
					background: #f8f8f8;
					min-width: 100%;
					box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
					float: none;
					overflow: hidden;
					height: 65px;
					margin: 0 0 16px;
					border-radius: 2px;
					border-top: 1px solid #333;
				}
			}
			.has-form {
				background: $cst_black;
			}
		}
		.cst-row {
			margin: 0 auto;
		}
	}
}
@media only screen and (min-width: 78.063em) {

	header {

		.contain-to-grid {
			background-color: transparent;
			.top-bar {
				max-width: 100%;
				margin: 0 auto;

				.small-logo {
					@media (min-width: 1250px) {
						display: none;
					}
					@media (max-width: 1249px) {
						display: block;
					}
				}

				ul li>a {
					font-family: $homepage_font;
					font-weight: 300;
					font-size: 14px;
					text-align: left;
				}

				.top-bar-section {
					text-align: center;
					float: none;
					line-height: 1;
					.logo-wrapper {
						.logo {
							width: 300px;
							display: block;
							margin: 0 auto;
							padding:7px 0;
						}
					}

					.dropdown {
						li {
							a {
								line-height: 30px !important;
							}
						}
					}

					#menu-homepage-left, #menu-homepage {
						display: inline-table;

						.menu-item {
							display: inline;
							&.obit-external {
								display: none;
							}
							&.hide-obit-external {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}