.homepage_wrapper {

	.single-mini-story {
		float: left;
		margin-bottom: 0.5rem;
	}
	.homepage-content {
		.cst-ad-container {
			max-width: 970px;
		}
		.newsletter-box {
			width: 100%;
			background: white;
			margin-bottom: 5px;
			padding: 5px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			float: none;
			overflow: hidden;
			.button.tiny {
				margin-bottom: 0;
			}
		}
		.homepage-sidebar {
			padding-left:0.6rem;
			padding-right:0.6rem;
			&.mobile {
				padding-bottom:0.6rem;
				padding-left:0;
				padding-right:0;
			}
			.cst-ad-container {
				text-align: right;
				max-width: 320px;
				margin: 0 auto;
			}
		}
	}
	@include stories;
	@media #{$small-only} {
		.sidebar {
			clear: both;
		}
	}
	.lower-section-stories,
	.podcast-section-stories {
		.more-stories-container {
			.prime-lead-story {
				.single-mini-story {
					@media #{$large-up} and (orientation: landscape) {
						.title-container {
							display: none;
						}
					}
				}
			}
			.remaining-stories {
				.single-mini-story {
					@media #{$large-up} and (orientation: landscape) {
						.mini-image {
							width: 25%;
							padding-left:0;
							padding-right:0.1rem;
						}
						.mini-title {
							padding-left:0.1rem;
							width: 75%;
						}
					}
				}
			}
		}
	}
	.widget-chartbeat-currently-viewing {
		background-color: $homepage_border_grey;
		margin-left: 0 !important;
		font-size: 12px;
		font-weight: 700;

		li {
			background: white;
			margin-bottom: 5px;
			padding: 5px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
			float: none;
			overflow: hidden;

			> a {
				display: block;
			}

			a {
				color: $black;
			}
		}

		li:hover a, li:hover span, li:hover {
			background: $homepage_border_grey;
			color: $black;
		}

		.section {
			color: $anchor-highlight;
			text-transform: uppercase;
			font-weight: 700;
		}

		.title {
			a {
				color: $black;
				font-weight: 700;
			}
		}

		.time {
			color: $social_grey;
		}
	}
	.widgets{
		li {
			list-style-type: none;
		}
		.widget{
			background-color: transparent;
			.widgettitle {
				font-size: 1rem;
				font-weight: 400;
				text-transform: uppercase;
				background-color: $homepage_border_grey;
				color: $cst_black;
				padding: 0.25rem;
			}
			ul {
				list-style-type: none;
				margin-left: 0;
				margin-top: 10px;
				@media (max-width: 736px) {
					margin-bottom: 0;
					padding-bottom: 0;
				}
				&.constrain{
					overflow: auto;
					max-height:300px;
				}

				li {
					border-top: 1px solid $social_grey;
					padding: 5px;
					a, em, strong {
						color: $cst_black;
						font-size: 0.8rem;
					}
					a:hover {
						color: $line_grey;
					}
				}

				li:hover {
					background: $white;
				}
			}
		}
		@media #{$small-only} {
			.widget_cst_ad_widget {
				text-align:center;
			}
		}
	}

	.banner-link {
		margin-bottom: 10px;
	}
	.widget_cst_todays_paper_widget {
		display: block;
		position: relative;
		height: auto;
		float:left;
		margin-bottom: 10px;

		img {
			position: relative;
			display: block;
			@media #{$xmedium-down} {
				text-align: center;
				margin: 0 auto;
			}
		}
		.todays-paper-container {
			margin-top: 10px;
			@media #{$xmedium-only} {
				margin-top: 53px;
			}

			.todays-paper-front {
				float:left;
			}
			.todays-paper-back {
				display: none;
				position: relative;
				float: left;

				.todays-paper-links {
					position: absolute;
					bottom: 50%;
					z-index: 1;
					left: 25%;
					@media #{$xmedium-only} {
						top: -39px;
						left: -90px;
						bottom:inherit;
					}
				}
			}
			@media #{$xmedium-down} {
				.todays-paper-back {
					display: block;
				}
			}
		}

		&:hover {
			.todays-paper-front {
				display: none;
			}

			.todays-paper-back {
				display: block;
			}
		}

	}
	section#section-column-wells {

		.section-list {
			background-color: $white;
			border: 1px solid $grey;
			margin-bottom: 20px;

			h2 {
				font-size: 1rem;
				text-transform: uppercase;
				font-weight: 700;
				padding: 0 0 2px 10px;
				position: relative;
				width: 100%;
			}

			h2:after {
				content: '';
				position: absolute;
				width: inherit;
				height: 0;
				left: 0;
				top: 25px;
				border-bottom: 7px solid $cst_black;
			}

			img {
				width: 100%;
			}

			ul {
				list-style-type: none;
				margin-left: 0;
				margin-bottom: 0;
				li > h3 {
					font-weight:normal;
					font-size: 14px;
					line-height: 16px;
					padding: 10px;
					background-color: $white;
					font-family:inherit;
					a {
						color: $black;
					}
				}
				li {
					border-bottom: 1px solid $homepage_border_grey;
					&:last-child {
						border-bottom:0;
					}
				}
			}
		}
	}
	.hp-bn-wrapper {
		ul {
			list-style:none;
			margin-left:0;
			width:100%;
			float:left;
		}
		.breaking-news-story,
		.breaking-section-story {
			background-color: $red;
			width: 100%;
			padding: 0 10px;
			margin-bottom: 5px;
			margin-top: 5px;
			border-bottom: 5px solid $cst_black;
			border-top: 5px solid $cst_black;
			position: relative;
			z-index: 1;
			float:left;
			font-family: $homepage_font;
			.title {
				font-size: 1.2rem;
				margin-bottom: 0.1rem;
				margin-top:0;
				color: $cst_black;
				.breaking-news-link {
					font-size: 1rem;
					background: transparent;
					text-transform: none;
					display: inline-block;
					line-height: 2.2rem;
				}
			}
			a,button {
				font-family: $homepage_font;
				color: $white;
			}

			span {
				color: $white;
				text-transform: uppercase;
				.fa {
					color: $white;
					cursor: pointer;
					font-size: 22px;
				}
			}
			@media #{$xmedium-down} {
				.title {
					font-size: 1rem;
					margin-bottom: 0;
					margin-top:inherit;
					.breaking-news-link {
						font-size:0.9rem;
						line-height:1rem;
					}
				}
			}
			.breaking-news-button {
				border-radius: 0;
				margin-bottom: 0.2rem;
				text-transform: uppercase;
				background-color: $cst_black;
				border: 1px solid $white;
				padding: 0.35rem;
				color: $cst_yellow;
			}
		}
	}
	.dfp {
		&.dfp-super-leaderboard {
			margin-top:0;
			margin-bottom:0;
		}
	}
}

.customize-partial-edit-shortcuts-shown {
	#hp-sports-section-lead,
	#top-stories-section-lead,
	#hp-podcasts-section-lead {
		.prime-lead-story {
			&.preview-prime-lead-story {
				width:100%;
			}
		}
		.single-mini-story {
			&.preview-prime-lead-story {
				width:50%;
			}
		}
		.remaining-stories {
			&.preview-remaining-stories {
				width: 100%;
			}
		}
	}
	#featured-stories {
		.preview-single-mini-story {
			width: 100%;
		}
	}
	.homepage_wrapper {
		.stories-container {
			.mini-stories {
				&.ipad-customizer {
					.prime-lead-story {
						width:100%;
					}
					.remaining-stories {
						width:100%;
					}
				}
				.single-mini-story {
					&.ipad-customizer {
						width:100%;
					}
				}
			}
		}
	}
}