.homepage_wrapper {
	.homepage-content {
		.cst-ad-container {
			max-width: 970px;
		}
		.newsletter-box {
			width: 100%;
			background: white;
			margin-bottom: 5px;
			padding: 5px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			float: none;
			overflow: hidden;
			.button.tiny {
				margin-bottom: 0;
			}
		}
	}
	.stories-container {
		padding-top: 10px;
		.stories {
			h3 {
				font-size: 1.3rem;
				line-height: 1.6rem;
				margin-top: 0;
				font-weight: 600;
				&.alt-title {
					font-size: 0.9rem;
					line-height: 1.1rem;
				}
			}
			p,
			li {
				font-size: 0.9rem;
				line-height: 1.3;
				margin-bottom: 0.25rem;
				font-family:$homepage_font;
			}
			.authors {
				font-size: 0.8rem;
				line-height: 1.3;
			}
			.lead-related-stories-collection {
				list-style-type: none;
				margin-left: 0;
				padding-left: 0;
				li {
					border-bottom: 1px solid $social_grey;
					&:last-child {
						border-bottom: none;
					}
				}
			}
			.lead-story {
				h3 {
					font-size: 1.4rem;
					line-height: 1.7rem;
				}
				.excerpt {
					.image {
						float: right;
						margin: 0.4rem 0 0.4rem 0.4rem;
					}
				}
				border-bottom: 1px solid $social_grey;
				float: left;
				padding-bottom: 1rem;
				margin-bottom: 0.25rem;
				&:last-child {
					border-bottom: none;
				}
				.related-title {
					list-style-type: square;
					h3 {
						font-weight: 600;
						font-size: 0.8rem;
						line-height: 1.1rem;
					}
				}
			}
			.mini-stories {
				margin-bottom: 0.625rem;
				h3 {
					font-size: 0.9rem;
					line-height: 1.2rem;
				}
				.mini-story {
					box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
					display: inline-block;
					float: left;
					padding-top: 0.625rem;
					.image {
						margin-right: 0.25rem;
						padding: 0 0.625rem;
					}
					img,
					.image,
					.authors {
						float: left;
					}
					.authors {
						margin-left: 0.625rem;
					}
				}
			}
			.more-stories-container {
				h3 {
					font-size: 0.9rem;
					line-height: 1.2rem;
				}
				.authors {
					font-size: 0.8rem;
					line-height: 1.3;
				}
				.more-sub-head {
					text-transform: uppercase;
					font-size: 1rem;
					font-family: $homepage_font;
					font-weight: 600;
				}
				.section-list {
					float: left;

					h3 {
						font-size: 1rem;
						text-transform: uppercase;
						font-weight: 600;
						padding: 0 0 2px 10px;
						position: relative;
						width: 100%;
					}

					.latest-story {
						font-size: 0.8rem;
						line-height: 1rem;
						padding: 0.4rem 0 0 0;
						clear: both;
						.image-right {
							float: right;
							margin: 0 0 0 0.4rem;
						}
						.title {
							a {
								color: $cst_black;
							}
						}
						> a {
							color: $cst_black;
							display: inline-block;
							font-weight: 600;
						}
					}
				}
				.featured-story {
					h3 {
						font-size: 1.2rem;
						line-height: 1.5rem;
					}
				}
				hr {
					margin: 0.25rem 0;
				}
			}
		}
		.sidebar {
			.cst-ad-container {
				float: none;
				max-width: 320px;
				margin: 0 auto;
			}
			.more-stories-container {
				h3 {
					font-size: 0.9rem;
					line-height: 1.2rem;
				}
				.authors {
					font-size: 0.8rem;
					line-height: 1.3;
				}
				.more-sub-head {
					text-transform: uppercase;
					font-size: 1rem;
					font-family: $homepage_font;
					font-weight: 600;
				}
				.section-list {
					float: left;

					h3 {
						font-size: 1rem;
						text-transform: uppercase;
						font-weight: 600;
						padding: 0 0 2px 10px;
						position: relative;
						width: 100%;
					}

					.latest-story {
						border-top: 1px solid $homepage_border_grey;
						font-size: 0.8rem;
						line-height: 1rem;
						padding: 0.4rem 0 0 0;
						clear: both;
						.image-right {
							float: right;
							margin: 0 0 0 0.4rem;
						}
						.title {
							a {
								color: $cst_black;
							}
						}
						> a {
							color: $cst_black;
							display: inline-block;
							font-weight:600;
						}
					}
				}
				.featured-story {
					h3 {
						font-size: 1.2rem;
						line-height: 1.5rem;
					}
				}
				hr {
					margin: 0.25rem 0;
				}
			}
			.section-list {
				float: left;

				h3 {
					font-size: 1rem;
					text-transform: uppercase;
					font-weight: 600;
					padding: 0 0 2px 10px;
					position: relative;
					width: 100%;
				}

				.latest-story {
					border-top: 1px solid $homepage_border_grey;
					padding: 0.4rem 0 0 0;
					clear: both;
					.image-right {
						float: right;
						margin: 0 0 0 0.4rem;
					}
					.title {
						a {
							color: $cst_black;
						}
					}
					> a {
						color: $cst_black;
						display: inline-block;
						font-size: 0.8rem;
						line-height: 1rem;
					}
				}
			}
			.mini-stories {
				margin-bottom: 0.625rem;
				h3 {
					font-size: 1rem;
					line-height: 1.2rem;
				}
				.mini-story {
					box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
					display: inline-block;
					float: left;
					padding-top: 0.625rem;
					.image {
						margin-right: 0.25rem;
						padding: 0 0.625rem;
					}
					img,
					.image,
					.authors {
						float: left;
					}
					.authors {
						margin-left: 0.625rem;
					}
				}

			}
		}
	}
	.latest-stories {
		a {
			color:$cst_black;
		}
	}
	.other-stories {
		h2 {
			font-size: 1.1rem;
			line-height: 1.3rem;
			font-weight: 600;
		}
		.list {
			margin-left: 0;
			padding-left: 0;
			line-height:1.3rem;
			li {
				list-style-type: none;
				margin-bottom: 0.35rem;
				border-bottom: 1px solid $social_grey;
				.section-name {
					text-transform: uppercase;
					font-weight: 600;
				}
				a {
					color: $cst_black;
				}
			}
		}
	}
	@media #{$small-only} {
		.sidebar {
			clear: both;
		}
	}
	.widget-chartbeat-currently-viewing {
		background-color: $light_grey;
		margin-left: 0 !important;
		font-size: 12px;
		font-weight: 700;

		li {
			background: white;
			margin-bottom: 5px;
			padding: 5px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
			float: none;
			overflow: hidden;

			> a {
				display: block;
			}

			a {
				color: $black;
			}
		}

		li:hover a, li:hover span, li:hover {
			background: $light_grey;
			color: $black;
		}

		.section {
			color: $anchor-highlight;
			text-transform: uppercase;
			font-weight: 700;
		}

		.title {
			a {
				color: $black;
				font-weight: 700;
			}
		}

		.time {
			color: $social_grey;
		}
	}
	.widgettitle {
		font-size: 1rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	@media #{$xmedium-only} and (orientation: portrait) {
		.stories-container {
			.stories {
				width: 57%;
			}
			.sidebar {
				width: 43%;
			}
			.single-mini-story {
				.medium-4 {
					width: 50%;
				}
				.medium-8 {
					width: 100%;
				}
			}
		}
		.magic-link-size {
			font-size: 0.8rem;
			line-height: 1.2rem;
		}
	}

	.banner-link {
		margin-bottom: 10px;
	}
	.widget_cst_todays_paper_widget {
		display: block;
		position: relative;
		height: auto;
		float:left;
		margin-bottom: 10px;

		img {
			position: relative;
			display: block;
			@media #{$xmedium-down} {
				text-align: center;
				margin: 0 auto;
			}
		}
		.todays-paper-container {
			margin-top: 10px;
			@media #{$xmedium-only} {
				margin-top: 53px;
			}

			.todays-paper-front {
				float:left;
			}
			.todays-paper-back {
				display: none;
				position: relative;
				float: left;

				.todays-paper-links {
					position: absolute;
					bottom: 50%;
					z-index: 1;
					left: 25%;
					@media #{$xmedium-only} {
						top: -39px;
						left: -90px;
						bottom:inherit;
					}
				}
			}
			@media #{$xmedium-down} {
				.todays-paper-back {
					display: block;
				}
			}
		}

		&:hover {
			.todays-paper-front {
				display: none;
			}

			.todays-paper-back {
				display: block;
			}
		}

	}
	section#section-column-wells {

		.section-list {
			background-color: $light_grey;
			border: 1px solid $grey;
			margin-bottom: 20px;

			h3 {
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 700;
				padding: 0 0 2px 10px;
				position: relative;
				width: 100%;
			}

			h3:after {
				content: '';
				position: absolute;
				width: inherit;
				height: 0;
				left: 0;
				top: 25px;
				border-bottom: 7px solid;
			}

			img {
				width: 100%;
			}

			ul {
				list-style-type: none;
				margin-left: 0;
				margin-bottom: 0;
				li {
					border-bottom: 1px solid $homepage_border_grey;
					font-size: 14px;
					line-height: 16px;
					padding: 10px;
					background-color: $white;
					a {
						color: $black;
					}
				}
			}
		}
	}

}