.homepage_wrapper {
	width:100%;
	margin: auto 0;
	background-color: $site_background;

	@media #{$xmedium-down} {
		margin-top: 40px;
	}
	.news-cat:hover {
		background: rgb(210, 45, 66) !important; /* The Fallback */
		background: rgba(210, 45, 66, 0.9) !important;
	}

	.news-title {
		background: $anchor-highlight;
	}

	.news-border:after, .news-menu {
		border-color: $anchor-highlight !important;
	}

	.news-menu:hover a:not(.button):hover {
	    background: $anchor-highlight;
	}

	.news-triangle:after {
		border-color: $anchor-highlight transparent transparent transparent !important;
	}

	.sports-cat:hover {
		background: rgb(52, 72, 94) !important; /* The Fallback */
		background: rgba(52, 72, 94, 0.9) !important;
	}

	.sports-border:after, .sports-menu {
		border-color: $sports_blue !important;
	}

	.sports-menu:hover a:not(.button):hover {
	    background: $sports_blue;
	}

	.sports-triangle:after {
		border-color: $sports_blue transparent transparent transparent !important;
	}

	.sports-title {
		background: $sports_blue;
	}

	.politics-cat:hover {
		background: rgb(41, 170, 226); /* The Fallback */
		background: rgba(41, 170, 226, 0.9) !important;
	}

	.politics-border:after, .politics-menu {
		border-color: $politics_blue !important;
	}

	.politics-menu:hover a:not(.button):hover {
	    background: $politics_blue;
	}

	.politics-triangle:after {
		border-color: $politics_blue transparent transparent transparent !important;
	}

	.politics-title {
		background: $politics_blue;
	}

	.entertainment-cat:hover {
		background: rgb(0, 174, 4) !important; /* The Fallback */
		background: rgba(0, 174, 4, 0.9) !important;
	}

	.entertainment-border:after, .entertainment-menu {
		border-color: $entertainment_green !important;
	}

	.entertainment-menu:hover a:not(.button):hover {
	    background: $entertainment_green;
	}

	.entertainment-triangle:after {
		border-color: $entertainment_green transparent transparent transparent !important;
	}

	.entertainment-title {
		background: $entertainment_green;
	}

	.lifestyles-cat:hover {
		background: rgb(135, 58, 250) !important; /* The Fallback */
		background: rgba(135, 58, 250, 0.9) !important;
	}

	.lifestyles-border:after, .lifestyles-menu {
		border-color: $lifestyles_purple !important;
	}

	.lifestyles-menu:hover a:not(.button):hover {
	    background: $lifestyles_purple;
	}

	.lifestyles-triangle:after {
		border-color: $lifestyles_purple transparent transparent transparent !important;
	}

	.lifestyles-title {
		background: $lifestyles_purple;
	}

	.opinion-cat:hover {
		background: rgb(189, 189, 189) !important; /* The Fallback */
		background: rgba(189, 189, 189, 0.9) !important;
	}

	.opinion-border:after, .opinion-menu {
		border-color: $opinion_grey !important;
	}

	.opinion-menu:hover a:not(.button):hover {
	    background: $opinion_grey;
	}

	.opinion-triangle:after {
		border-color: $opinion_grey transparent transparent transparent !important;
	}

	.opinion-title {
		background: $opinion_grey;
	}

	.columnists-cat:hover {
		background: rgb(213, 195, 95) !important; /* The Fallback */
		background: rgba(213, 195, 95, 0.9) !important;
	}

	.columnists-border:after, .columnists-menu {
		border-color: $columnists_yellow !important;
	}

	.columnists-menu:hover a:not(.button):hover {
	    background: $columnists_yellow;
	}

	.columnists-triangle:after {
		border-color: $columnists_yellow transparent transparent transparent !important;
	}

	.columnists-title {
		background: $columnists_yellow;
	}

	.dfp-atf-leaderboard, .dfp-btf-leaderboard {
		img {
			width: 728px;
		}
	}

	.dfp-cube {
		padding: 0;
		margin-bottom: 5px;
	}

	.cube-left > .dfp-cube {
		float: left;
	}
	.cube-right > .dfp-cube{
		float: right;
	}
	#div-gpt-sbb {
		background-color: $light_grey;
		margin: 0 auto 10px;
		max-width: 1073px;
		width: 100%;
	}

	@media (min-width: 481px) and (max-width: 1024px) {
		.dfp-cube {
			text-align: center;
		}
		.cube-left > .dfp-cube,
		.cube-right > .dfp-cube {
			float: none;
		}
	}

	@media (min-width: 1026px) {
		.widget.widget_cst_ad_widget {
			margin-bottom: 20px;
		}
	}

	@media (max-width: 480px) {
		.dfp-cube {
			min-width: 300px;
			width: 100%;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			margin: 0 0 10px;
			text-align: center;
		}
	}

	.dfp-mobile-leaderboard {
		@media (max-width: 568px) {
			padding-left: 0;
		}
	}


	.dfp-atf-leaderboard, .dfp-btf-leaderboard {
		text-align: center;
		margin: 0 auto;
		display: block;
		clear: both;
	}

	@media (max-width: 769px) {
		#div-gpt-btf-leaderboard {
			display: none;
		}
	}

/* HEADER */

	header {
		.contain-to-grid {
			background-color: $masthead_background;
			.top-bar {
				.top-bar-section {
					border-bottom: 1px solid $black;
					#menu-homepage-left, #menu-homepage {
						.menu-item {
							&.obit-external {
								display: block;
							}
							&.hide-obit-external {
								display: none;
							}
						}
					}
					min-height:146px;
				}
				@media only screen and (min-width: 78.063em) {
					.top-bar-section li:not(.has-form) a:not(.button) {
						padding: 0 12px;
					}
				}
			}
			.cst-row {
				margin: 0 auto;
			}
		}
	}
	@media only screen and (min-width: 78.063em) { 

		header {

			.contain-to-grid {

				.top-bar {
				    max-width: 100%;
				    margin: 0 auto;
				    height: 138px;

		    		.small-logo {
		    			@media (min-width: 1250px) {
		    				display: none;
		    			}
		    			@media (max-width: 1249px) {
		    				display: block;
		    			}
		    		}

		    		ul li>a {
		    			font-family: $homepage_font;
		    			font-weight: 300;
					    font-size: 11px;
					    text-transform: uppercase;
					    text-align: left;
						background-color: $masthead_background;
						color: $black;
		    		}

		    		.top-bar-section {
		    			text-align: center;
		    			z-index: 3;

		    			.logo-wrapper {
							.logo {
								width: 300px;
								display: block;
								margin: 0 auto;
								padding-top:10px;
							}
						}

						.dropdown {
							li {
								a {
									line-height: 30px !important;
								}
							}
						}

						#menu-homepage-left, #menu-homepage {
							display: inline-table;

							.menu-item {
								display: inline;
								&.obit-external {
									display: none;
								}
								&.hide-obit-external {
									display: block;
								}
							}
						}
		    		}
				}
			}
		}
	}

	.top-bar-section {
		z-index: 3;
	}

/* BREAKING NEWS */
.breaking-news-story,
.breaking-section-story {
	background: $anchor-highlight;
}
.bears-cube-story {

	h3.title {
		a:hover {
			opacity: .75;
		}
	}

	.terry-ford {
		max-width: 100px;
		width: 100%;
		position: absolute;
	    right: 10px;
	    top: 4px;
	    background: white;
	    padding: 4px;
	}
}

.breaking-news-story,
.bears-cube-story,
.breaking-section-story {
	width: 100%;
	padding: 2px 0 1px 10px;
	border-bottom: 2px solid $black;
    border-top: 5px solid $black;
    position: relative;
    z-index: 1;

	h3 {
		&.title {
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 0;
			margin-top:0;
			.breaking-news-link {
				font-weight: bold;
				font-size: 18px;
				text-shadow: 2px 1px $black;
				background: transparent;
				text-transform: none;
			}
		}
		a {
			color: $light_grey;
			text-shadow: 2px 1px $black;
		}

		span {
			color: $white;
			text-transform: uppercase;
			.fa {
				color: $light_grey;
				text-shadow: 1px 1px $light_black;
				cursor: pointer;
				font-size: 22px;
			}

			.fa:hover {
				opacity: .75;
			}
		}

		.button {
			background: $light_red;
			border-radius: 5px;
			margin-bottom: 0px;
			text-transform: uppercase;
			text-shadow: 1px 1px $black;
			font-weight: 700;
		}
		.button:hover {
			opacity: .75;
		}
	}
}

/* CONTENT */
.homepage-content {
	margin: 0 auto;
}


@media (min-width: 1200px) and (max-width: 1275px) {

	.homepage-content {
		max-width: 57.4rem;
		margin: 0 auto;
		.main-well-container,
		.secondary-well-upper,
		.secondary-well-lower,
		.secondary-well-bottom {
			padding:0;
			.columns:first-child {
				padding:0 $homepage_intra_column_padding 0 0;
			}
			.columns:last-child {
				padding:0 0 0 $homepage_intra_column_padding;
			}
		}
	}

	.secondary-well-container {
		padding:0;
	}
}

	@media ( max-width: 40rem) {
		.homepage-content {
			margin: 0 auto;
			.main-well-container,
			.secondary-well-container,
			.secondary-well-upper,
			.secondary-well-lower,
			.secondary-well-bottom {
				.columns:first-child {
					padding-left: 0.9375rem;
					padding-right: 0.9375rem;
				}
				.columns:last-child {
					padding-left: 0.9375rem;
					padding-right: 0.9375rem;
				}
			}
		}
		section#more-stories-wells {
			.article-image {
				padding-left: 1.5rem;
			}
		}
	}

	.content-wrapper {
		position: relative;
		z-index: 2;
		overflow: hidden;
		height: auto;
		clear: both;
	}

	h2.section-title {
		background-color: $light_black;
		height: 10px;
		text-align: center;
		margin: 0 0 15px;
		line-height: 0;

		span {
			text-transform: uppercase;
			font-family: inherit;
			font-weight: 700;
			color: $section_title;
			background: $site_background;
			border-bottom: none;
			padding: 0 20px;
			font-style: italic;
			text-shadow: 1px 2px $menu_black;
		}
	}

	h3.section-title {
		height: 10px;
		text-align: center;
		margin: 0 0 15px 0;
		line-height: 0;

		span {
			text-transform: uppercase;
			font-family: inherit;
			font-weight: 700;
			color: $anchor-highlight;
			background: $white;
			border-bottom: none;
			padding: 0 10px;
			font-style: italic;
		}
	}

	.mobile-top-news {
		font-size: 30px;
		text-align: left;
		margin-left: 25px;
		display: block;
		font-weight: 700;
	}

	section#main-well {

		.main-article-container {
			position: relative;
			height: auto;
			margin-bottom: 10px;
			float: none;
			overflow: hidden;
			a {
				display: block;
				position: relative;
			}

			img {
				width: 100%;
				height: auto;
			}

			.article-title {
				position: absolute;
				bottom: 0;
				background: rgb(0, 0, 0); /* The Fallback */
				background: rgba(0, 0, 0, 0.7); 
				transition: background 0.5s ease;
				width: 100%;
				padding-bottom: 5px;

				h3 {
					padding: 0px 20px 0px 20px;
					font-family: $homepage_font;
					font-weight: 700;
					@media (min-width: 569px) {
						font-size: 34px;
						line-height: 34px;
					}
					@media (min-width: 480px) and (max-width: 568px) {
						font-size: 26px;
						line-height: 26px;
					}
					@media (max-width: 479px) {
						font-size: 18px;
						line-height: 20px;
					}
					color: $light_grey;
				}

				p {
					padding: 0px 20px 0px 20px;
					color: $white;
					margin-bottom: 5px;
					line-height: 18px;
					display: none;
				}

				span {
					@media (max-width: 568px) {
						font-size: 12px;
					}
					margin-left: 20px;
					font-family: $homepage_font;
					color: $white;
				}
			}

			a:hover {
				color: $image_hover;

				.article-title {
					background: rgb(0, 0, 0); /* The Fallback */
					background: rgba(0, 0, 0, 0.5);

					p {
						@media (min-width: 737px) {
							display: block;
						}
						@media (max-width: 736px) {
							display: none;
						}
					}
				}
			}
		}
		@media (max-width: 480px) {
			.main-article-container {
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
			}
		}

		.left-main-well {
			padding: 0;
			position: relative;

			@media (max-width: 1024px) {
				margin-top: 10px;
			}

			.article-container {
				margin-bottom: 10px;
				height: 225px;
				overflow: hidden;
				padding: 0;
				position: relative;
				float: none;
				background: #f5f5f5;
				img {
					width: 100%;
					height: auto;
				}

				.article-title {
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 0 20px 5px 20px;
					background: rgb(0, 0, 0); /* The Fallback */
   					background: rgba(0, 0, 0, 0.7); 
   					transition: background 0.5s ease;
   					width: 100%;

					h3 {
						@media (min-width: 569px) {
							font-size: 16px;
						}
						@media (max-width: 568px) {
							font-size: 20px;
						}
						line-height: 18px;
						font-family: $homepage_font;
						color: $light_grey;
						font-weight: 700;
					}

					p {
						color: $white;
						font-size: 12px;
						line-height: 14px;
						margin-bottom: 5px;
						display: none;
					}

					span {
						font-family: $homepage_font;
						color: $white;
						font-size: 12px;
					}

				}

				a:hover {
					color: $image_hover;

					.article-title {
						background: rgb(0, 0, 0); /* The Fallback */
   						background: rgba(0, 0, 0, 0.5); 

   						p {
   							display: block;
   						}
					}
				}
			}
			@media #{$xmedium-only} {
				.article-container {
					height: 156px;
				}
			}
		}
	}

	section#secondary-wells {

		.dfp-cube {
			text-align: center;

			@media (max-width: 1024px) and (min-width: 481px) {
/*				padding: 0;*/
			}
		}

		.article-container {
			margin-bottom: 10px;
			height: 225px;
			overflow: hidden;
			padding: 0;
			position: relative;
			float: none;
			background: #f5f5f5;
			img {
				width: 100%;
				height: auto;
			}

			.article-title {
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 0 20px 5px 20px;
				background: rgb(0, 0, 0); /* The Fallback */
					background: rgba(0, 0, 0, 0.7); 
					transition: background 0.5s ease;
					width: 100%;

				h3 {
					@media (min-width: 569px) {
						font-size: 16px;
					}
					@media (max-width: 568px) {
						font-size: 20px;
					}
					line-height: 18px;
					font-family: $homepage_font;
					color: $light_grey;
					font-weight: 700;
				}

				p {
					color: $white;
					font-size: 12px;
					line-height: 14px;
					margin-bottom: 5px;
					display: none;
				}

				span {
					font-family: $homepage_font;
					color: $white;
					font-size: 12px;
				}

			}

			a:hover {
				color: $image_hover;

				.article-title {
					background: rgb(0, 0, 0); /* The Fallback */
						background: rgba(0, 0, 0, 0.5); 

						p {
							display: block;
						}
				}
			}
		}
	}

	section#more-stories-wells {

		img {
			max-height: 134px;
		}
		
		a {
			h3 {
				margin: 0;
				padding: 0;
				line-height: 28px;
				font-weight: 700;
				@media #{$small-only} {
					line-height:1.2rem;
					font-size: 1rem;
				}
			}
		}

		a:hover {
			h3 {
				color: $light_black;
			}

			img {
				opacity: .875;
			}
		}

		a:hover ~ p {
			display: block;
		}

		p {
			margin-top: 15px;
			line-height: 18px;
			display: none;
		}

		span {
			font-size: 14px;

			a {
				font-size: 14px;
				text-transform: uppercase;
				color: $black;
				text-decoration: none;
			}
		}

		.article-image {
			position: relative;
			display: block;
			margin-bottom: 10px;
			padding-left:15px;
			@media #{$small-only} {
				padding-right:0;
				margin-bottom:0;
			}
		}

		.article-image:hover:after {
	        content:'';
	        width: 50%;
	        height: 0;
	        border-style: solid;
			border-width: 10px 0 0 0;
	        position:absolute;
	        left:15px;
	        top:0;
		}

		.article-headline {
			font-size: 0.9rem;
		}
		@media (min-width: 1200px) {
			.columns {
				padding-left: 0.9375rem;
    			padding-right: 0.9375rem;
			}
		}
		.more-story {
			padding-top: 10px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
			float: none;
			overflow: hidden;
			max-height:134px;
			margin: 16px 0;
			background: #f5f5f5;
			&:first-child {
				border-top:none;
				padding-top:0;
			}
		}
		.ntv-more {
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
			float: none;
			overflow: hidden;
			margin: 16px 0;
			max-height:109px;
			border-radius: 2px;
			background: #f5f5f5;
		}
	}

	section#section-column-wells {

		.section-list {
			background-color: $light_grey;
			border: 1px solid $grey;
			margin-bottom: 20px;

			h3 {
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 700;
				padding: 0px 0px 2px 10px;
			    position: relative;
			    width: 100%;
			}

			h3:after {
				content: '';
				position: absolute;
				width: inherit;
				height: 0;
				left: 0px;
				top: 25px;
				border-bottom: 7px solid;
			}

			img {
				width: 100%;
			}

			ul {
				list-style-type: none;
				margin-left: 0;
				margin-bottom:0;
				li {
					border-bottom: 1px solid $homepage_border_grey;
					font-size: 14px;
    				line-height: 16px;
    				padding: 10px;
					background-color: $white;
    				a {
    					color: $black;
    				}
				}
			}
		}
	}

	section#featured-story-wells {

		.large-12 {
			padding: 0;
		}

		.featured-story {
			display: block;
			position: relative;

			h2 {
				position: absolute;
				bottom: 0;
				margin-bottom: 0;
				background: rgb(0, 0, 0); /* The Fallback */
   				background: rgba(0, 0, 0, 0.5);
   				color: $white;
   				width: 100%;
   				padding: 10px;

				@media (max-width: 1024px) and (min-width: 667px) {
					line-height: 38px;
				}

				@media (max-width: 666px) and (min-width: 568px) {
					line-height: 28px;
				}

				@media (max-width: 567px) and (min-width: 320px) {
					font-size: 20px;
					line-height: 22px;
				}
			}

			img {
				margin: 0 auto;
				text-align: center;
				display: block;
				width: 100%;
			}
		}
	}

/* SIDEBAR */


.widget_cst_featured_content_widget:nth-of-type(1) {
	margin-top: 5px;
	padding: 0;
}

.homepage-no-padding {
	padding-left: 0;
}
.ndn_embed.columns {
	padding:0;
}

.ndn_embed {
	list-style-type: none;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	@media (max-width: 568px) and (min-width: 560px) {
		margin: 0 auto;
	}
}

.widget_cst_todays_paper_widget {
	display: block;
	position: relative;
	height: auto;
	float:left;

	img {
		position: relative;
		display: block;
		@media #{$xmedium-down} {
			text-align: center;
			margin: 0 auto;
		}
	}
	h2.widgettitle {
		text-transform: uppercase;
		font-size: 1.75rem;
		font-family: $homepage_font;
		display: inline;
		text-align: left;
		width: inherit;
		position: relative;
		border-bottom: 10px solid $grey;
		font-weight: 700;
	}

	.todays-paper-container {
		margin-top: 10px;
		@media #{$xmedium-only} {
			margin-top: 53px;
		}

		.todays-paper-front {
			float:left;
		}
		.todays-paper-back {
			display: none;
			position: relative;
			float: left;

			.todays-paper-links {
				position: absolute;
				bottom: 50%;
				z-index: 1;
				left: 25%;
				@media #{$xmedium-only} {
					top: -39px;
					left: -90px;
					bottom:inherit;
				}
			}
		}
		@media #{$xmedium-down} {
			.todays-paper-back {
				display: block;
			}
		}
	}

	&:hover {
		.todays-paper-front {
			display: none;
		}

		.todays-paper-back {
			display: block;
		}
	}

}

.widget_cst_featured_content_widget, .widget_cst_columnists_content_widget {
	list-style-type: none;

/*	@media (min-width: 1025px) {
		margin: 20px 0 20px 0;
		padding: 10px 0 10px 0;
	}
*/
	h2.widgettitle {
		text-transform: uppercase;
		font-size: 1.75rem;
		font-family: $homepage_font;
		display: inline;
		text-align: left;
		width: inherit;
		position: relative;
		border-bottom: 10px solid $grey;
		font-weight: 700;
	}

	.columnists-story {
		max-width: 100%;
	}

	.columnists-title-container {
		float:left;
	}
	.columnists-avatar {
		float: right;
		width: auto;
		max-width: 100%;
		margin-left: 5px;
		margin-bottom: 1px;
	}
	img.avatar {
		@media (max-width: 667px) {
			width: 45px;
			height: 45px;
		}
	}

	.featured-story, .columnists-story {
		position: relative;
		margin-top:10px;

		.featured-story-body, .columnists-story-body {
			position: absolute;
			bottom: 0;
			background: rgb(0, 0, 0); /* The Fallback */
   			background: rgba(0, 0, 0, 0.7);
   			width: 100%;
   			@media (min-width: 1025px) {
   				max-width: 100%;
   			}

   			.section {
   				margin: 5px 0 0 20px;
    			display: block;
    			font-size: 12px;
    			text-transform: uppercase;
    			font-family: $homepage_font;

    			a {
    				color: $white;
    			}
   			}

   			h3 {
				margin: 0 0px 10px 20px;
				font-size: 14px;
				line-height: 14px;

   				a {
   					color: $white;
   				}
   			}

		}

		.columnists-story-body {
			@media (max-width: 667px) {
				width: 100%;
			}
		}

	}
	float: left;
}

@media (max-width: 1025px) {
	.widget_cst_columnists_content_widget, .widget_cst_stng_wire_widget, .widget_cst_todays_paper_widget {
		margin: 10px 0;
	}
}

.widget_cst_stng_wire_widget {
	padding-left: 10px;
	font-size: 12px;

	h2.widgettitle {
		text-transform: uppercase;
		font-size: 1.75rem;
		font-family: $homepage_font;
		display: inline;
		text-align: left;
		width: inherit;
		position: relative;
		border-bottom: 10px solid $grey;
		font-weight: 700;
	}

	ul {
		list-style-type: none;
		margin-left: 0;
		margin-top: 10px;
		@media (min-width: 737px) {
			height: 300px;
		}
		@media (max-width: 736px) {
			height: 300px;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		overflow: auto;

		li {
			border-top: 1px solid $social_grey;
			@media (min-width: 1026px) {
				font-size: 12px;
			}
			@media (min-width: 737px) and (max-width: 1025px) {
				font-size: 18px;
			}
			@media (max-width: 736px) {
				font-size: 16px;
			}
			padding: 5px;

			a:hover {
				color: $line_grey;
			}
		}

		li:hover {
			background: $white;
		}
	}
}

.social-follow-us {
	position: relative;
	border-top: 3px solid $grey;
	border-bottom: 3px solid $grey;
	text-align: center;
	margin-bottom: 10px;

	p {
		font-size: 1.5rem;
		font-weight: 700;
		float: left;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 4px 8px;

			a {
				.fa {
					font-size: 2rem;
				}
				.fa-facebook-square {
					color: $facebook_blue;
				}
				.fa-twitter-square {
					color: $twitter_blue;
				}
				.fa:hover {
					opacity: .75;
				}
			}
		}
	}
}

.search-widget {
	padding: 0;
	@media #{$xmedium-down} {
		.search-wrap {
			margin:0;
		}
	}
	#search-input {
		font-size: 1.25rem;
		border: 2px ridge;
		padding: 5px 29px 5px 5px;
		margin-top: -1px;
		width: 100%;
    }

    #search-button {
      font-size: 1.5rem;
      color: $menu_black;
		position: absolute;
		right: 20px;
		top: 5px;
	}

    #search-button:hover {
      color: $anchor-highlight;
    }
}

li.widget_cst_ad_widget {
	list-style-type: none;	
}

/* FOOTER */
	footer {
		.row {
			max-width: 82.5rem !important;
			width: 100%;
			position: relative;
			z-index: 3;
		}

		.columns {
			padding: 0;
		}

		h5 {
			text-transform: uppercase;
			font-size: 14px;
    		font-weight: 700;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: inline;
			float: right;
			line-height: 15px;

			li {
				font-size: 12px;
				display: inline;
				text-transform: uppercase;
			}

			li:after {
				content: " -";
			}
			li:last:after {
				content: "";
			}
		}

		.copyright {
			text-align: left;
			font-size: 12px;
			margin-bottom: 0;
		}
	}
}
.banner-link {
	margin-bottom:10px;
}
