#div-gpt-btf-leaderboard {
	position: relative;
	z-index: 2;
}

#div-gpt-billboard {
	text-align: center;
	position: relative;
	z-index: 2;
	margin: 10px 0 10px 0;
}

.dfp {

	&.dfp-centered {
		margin-left: auto;
		margin-right: auto;
	}

	&.dfp-leaderboard {
		width: 728px;
		position:relative;
		z-index:2;
	}

	&#div-gpt-btf-leaderboard {
		position: relative;
		z-index: 2;
	}

	&#div-gpt-atf-leaderboard {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&#div-gpt-mobile-leaderboard {
		text-align: center;
		margin-top: 10px;
	}

	&.dfp-wire-cube-placeholder {
		width: 300px;
		height: 250px;
		display: block;
	}

	&.dfp-wire-cube {
		text-align: center;
		margin-top: 30px;

		@media #{$small-only} {
			margin-bottom: 30px;
		}

		body.single & {
			margin-top: 0px;
			margin-bottom: 20px;
		}

		/* iOS centering fix */
		@media (max-width: 399px) {
			margin-left: -.435rem;

			body.single & {
				margin-left: -2.1rem;
			}
		}
	}

	&.dfp-sbb {
		overflow:hidden;
		background-color:$light_grey;
		position:relative;
		width:100%;
		max-width: 1000px;
		height:auto;
		z-index:2;

		#dfp-sbb-top img {
			margin-top:15px;
		}

		#dfp-sbb-bottom {
			display:none;
		}

	}

}

.dfp-interstitial {
	position:fixed;
	z-index:99999;
	width:0%;

	iframe {
		width:0%;
	}

	#dfp-interstitial-container {
		position: absolute;
		display:none;
		width: 0%;
		height:0px;
		left: 0;
		top: 0;
		padding: 15px;
		padding-top: 0;
		z-index: 99999;
		visibility: visible;

		.dfp-interstitial-headerbar {
			color: $social_grey;
			padding: 5px 0;
			text-align: right;

			a {
				font-size: 120%;
				text-decoration: none;
			}

			a:visited {
				color: $red;
			}

		}

		#dfp-interstitial-content {
			height:100%;
		    text-align:center;
		    margin-top:10%;
		}

		.fa-times {
			font-size: 1.15rem;
			font-weight:700;
		}

		.dfp-interstitial-close {
			font-family: $open_sans;
			font-size: 1.00rem;
			font-weight:700;
		}

	}

}

@media #{$wallpaper-only} {
	.dfp-wallpaper {
		position:absolute;
		left:0;
		right:0;
		background-color: $light_grey;
		z-index: 1;
		img {
			position:relative;
			width:100%;
		}
		iframe {
			width:100%;
		}
	}

	.dfp-wallpaper-fixed {
		position: fixed;
		bottom: 0;
	}
}

@media #{$wallpaper-down} {
	.dfp-wallpaper {
		position:absolute;
		left:0;
		right:0;
		background-color: $light_grey;
		z-index: 1;
		img {
			display:none;
		}
		iframe {
			width:0%;
		}
	}
}

@media (max-width: 320px) {
	.single {
		.post-row {
			padding-left: 10px !important;
		}

		.ad-container {
			width: 300px;
			text-align: left !important;

			.dfp-cube {
				margin: 0 !important;
				margin-bottom: 5px !important;
			}
		}
	}
}