.vip-local,
.vagrant-local {
	div[id^="div-gpts-"],
	.tcx_widget {
		border: 1px solid #ccc;
		color: #333;
		font-size: 0.7rem;
		&[data-visual-label]:before {
			content: attr(data-visual-label) ": ";
		}
	}
	.tcx_widget {
		&:before {
			content: "tcx widget";
		}
		height: 600px;
		background-color: #fff;
	}
}
#div-gpt-ym-craig {
	margin-top: 1.25rem;
}
#div-gpt-btf-leaderboard {
	position: relative;
	z-index: 2;
}
.section-front-anchor {
	top:91px;
	position:fixed;
}
.section-front-free-me {
	position:relative;
}
.dfp {

	&.dfp-centered {
		margin-left: auto;
		margin-right: auto;
	}

	&.dfp-leaderboard {
		position:relative;
		z-index:2;
		margin: 10px 0 0 0;
		text-align: center;
	}

	&.dfp-super-leaderboard {
		position: relative;
		z-index: 2;
		margin: 10px auto 10px auto;
		max-width: 1000px;
		text-align: center;
		clear:both;
	}

	&#div-gpt-btf-leaderboard {
		position: relative;
		z-index: 2;
	}

	&#div-gpt-atf-leaderboard {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&#div-gpt-mobile-leaderboard {
		text-align: center;
		margin-top: 10px;
	}

	&.dfp-wire-cube-placeholder {
		width: 300px;
		height: 250px;
		display: block;
	}

	&.dfp-wire-cube {
		text-align: center;
		margin-top: 30px;

		@media #{$small-only} {
			margin-bottom: 30px;
		}

		body.single & {
			margin-top: 0px;
			margin-bottom: 20px;
		}

		/* iOS centering fix */
		@media (max-width: 399px) {
			margin-left: -.435rem;

			body.single & {
				margin-left: -2.1rem;
			}
		}
	}

	&.dfp-sbb {
		overflow:hidden;
		text-align: center;
		background-color:$light_grey;
		position:relative;
		margin-bottom: 10px;
		width:100%;
		max-width: 1000px;
		height:auto;
		z-index:2;

		#dfp-sbb-bottom {
			display:none;
		}

	}

}
.dfp-interstitial {
	position:fixed;
		z-index:99999;
		width:0;

		iframe {
			width:0;
		}

	#dfp-interstitial-container {
		position: absolute;
		display:none;
		width: 0;
		height:0;
		left: 0;
		top: 0;
		padding: 15px;
		padding-top: 0;
		z-index: 99999;
		visibility: visible;

		.dfp-interstitial-headerbar {
			color: $social_grey;
			padding: 5px 0;
			text-align: right;

			a {
				font-size: 120%;
				text-decoration: none;
			}

			a:visited {
				color: $anchor-highlight;
			}

		}

		#dfp-interstitial-content {
			height:100%;
			text-align:center;
			margin-top:10%;
		}

		.fa-times {
			font-size: 1.15rem;
			font-weight:700;
		}

		.dfp-interstitial-close {
			font-family: $open_sans;
			font-size: 1.00rem;
			font-weight:700;
		}

	}

}
@media #{$wallpaper-only} {
}

@media #{$wallpaper-down} {
}

@media (max-width: 320px) {
	.single {
		.post-row {
			padding-left: 10px !important;
		}

		.cst-ad-container {
			width: 300px;
			text-align: left !important;

			.dfp-cube {
				margin: 0 !important;
				margin-bottom: 5px !important;
			}
		}
	}
}