.cst-embed-twitter {

	.embed-content {
		padding-top: 10px;
		padding-bottom: 10px;

		.tweet-avatar {
			margin-right: 12px;
		}

		.tweet-byline {
			padding-bottom: 2px;
			font-family: $open_sans;
			font-size: 1rem;

			.fa-twitter {
				color: $twitter_blue;
			}

			.tweet-display-name {
				font-weight: 700;
				color: $black;
			}

			.tweet-display-name:hover {
				color: $anchor-highlight;
			}

			.tweet-username {
				color: $social_grey;
				font-size: .9rem;
			}

		}

		@media #{$medium-up} {
			.tweet-body {
				margin-left: 60px;
			}
		}

	}
	
}