#ie8-user {
	text-align:center;
	margin-top:20px;

	.icon {
		width:50px;
		height:50px;
	}

	.update_browser {
		font-size:2.0rem;
		text-transform:uppercase;
		font-family:$open_sans;
		font-weight:800;
		vertical-align:middle;
		margin-right:15px;
	}

}

header#header {
	position: fixed;
	top: auto;
	z-index: 100;
	width: 100%;
	.contain-to-grid {
		&.sticky {
			&.fixed {
				left: auto;
			}
		}
	}
	#weather {
		position:absolute;
		right:0px;
		top:17px;
		text-transform:uppercase;
		font-family: $open_sans;

		.degrees {
			color: $cst_yellow;
			font-size:1.2rem;
			margin-right:10px;
		}

		.description {
			color: $cst_yellow;
			font-weight:600;
			font-size:0.75rem;
		}

	}

	section#primary-navigation {
		height: 46px;
		z-index: 100100;
		background-color: $cst_black;

		#logo-wrap {
			margin-left: 20px;
			line-height: 36px;
			display: inline-block;
			overflow-y: hidden;
			height: 46px;
			padding-top: 3px;
			padding-right: 5px;

			@media #{$small-only} {
				float:right;
			}

			#tablet-home {

				@media (min-width: 981px) {
					display: none;
				}
				@media (min-width: 641px) and (max-width: 980px) {
					display: none;
					position: absolute;
				    top: 3px;
				    left: 147px;
				    font-size: 40px;

				    .fa {
				    	color: $white;
				    }
				}
				@media (max-width: 640px) {
					display: none;
				}
			}
		}

		a#suntimes-logo {
			display: block;
			img {
				width: 207px;

				@media #{$medium-only} {
					width: 267px;
				}
				@media #{$small-only} {
					width: 207px;
				}
			}
		}

		a#newsfeed-logo {
			display: none;
			text-transform: uppercase;
			margin: 3px 42px 0;
			img {
				width: 204px;
				@media #{$small-only} {
					width: 170px;
				}
			}
		}

		a#newsfeed-logo:hover {
			color: $light_grey;
		}

		@media #{$small-only} {
			#trending-container {
				display:none;
			}

			a#chiwire-logo {
				position:absolute;
				left:46px;
			}

			a#burger-bar {
				position:absolute;
			}

		}

		@media #{$xmedium-up} {

			#trending-container {
				font-weight: 700;
				text-transform: uppercase;
				bottom: 30px;
				position: relative;
				margin-left: 440px;
				margin-right: 130px;
				margin-top: -5px;
				height: 20px;
				overflow-y: hidden;
				visibility: hidden;

				.menu-trending-container {
					display:inline;

					#menu-trending {
						margin-left:0;
						font-size:.8rem;
					}
				}

				span.menu-label {
					font-weight:700;
					text-transform:uppercase;
					color:$anchor-highlight;
				}

				ul {
					list-style-type:none;
					display:inline;
					overflow:hidden;
					margin-bottom: 0;
					height: 20px;

					li {
						display:inline-block;
						margin-left:20px;
					}

					li a {
						color:$white;
						font-weight:700;
					}

					li a:hover {
						color:$white;
						opacity:0.7;
					}

					li .fa {
						padding-right: 5px;
					}

					li .fa.fa-cst-topic:before {
						content: "#"
					}

				}
			}
		}

	}

	.primary-fixed {
		position: fixed;
		top: 0;
		z-index: 100;
		width: 100%;
		background: $cst_black;
	}

	.primary-normal {
		position: relative;
		top: auto;
	}

	#headlines-slider {
		width: auto;
	}
	//-webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	//-moz-transition: -moz-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	//transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
	@media #{$medium-down} {
		&.hide-header {
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			-o-transform: translateY(-100%);
			transform: translateY(-100%);
		}
	}

}

.responsive-logo-wrapper {
	position: relative;
	.small-logo {
		width: 230px;
		height: 45px;
		margin: -2px auto 0;
	}
	@media #{$xmedium-down} {
		height: 40px;
	};
}

.burger-bar {
	float: left;
	color: $white;
	display: block;
	border: 1px solid $social_grey;
	margin: 4px 0 0 4px;
	background: $cst_black;
	padding: 0 6px !important;
	line-height: 28px;
	.fa {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 26px;
		line-height:32px;
	}
	span {
		position: relative;
		vertical-align: text-top;
		padding-right: 10px;
		line-height:12px;
	}
}

.spacer {
	height: 45px;
}
body.admin-bar {
	header#header {
		top: 32px;
		.contain-to-grid {
			&.sticky {
				@media screen and (max-width: 782px) {
					top: 20px;
				}
				&.fixed {
					top: 32px;
				}
				@media screen and (max-width: 782px) {
					&.fixed {
						top: 52px;
					}
				}
			}
		}
	}
	.move-right {
		header#header {
			top:auto;
		}
	}
}

.off-canvas-wrap, .inner-wrap {
	min-height: 100%;
}

.off-canvas-wrap {
	height: 100%;
	overflow-y: auto;
}

.left-off-canvas-menu {
    background-color: $cst_black;
	ul {
		margin-left:0;
		clear: both;
	}

	.menu {
		list-style-type:none;
	}

	.off-canvas-menu {
		height: 100%;
		overflow-y: auto;
	}

	.fixed-canvas-menu {
		position: absolute;
		width: 100%;
		height:100%;
		overflow-y:auto;
	}

	.search-wrap {
		margin-bottom: 0;
		clear: both;

		#search-input {
			background-color: $cst_black;
			margin-top: 10px;
			padding-left: 10px;
			padding-right: 40px;
			width: 90%;
			margin-left: 10px;
			float: center;
			color: $light_grey;
			font-size: 0.75rem;
			font-style: italic;
			height: 40px;
			border: 1px solid $social_grey;
		}

		#search-input:focus {
			outline: 0;
			border: 1px solid $white;
		}

		a#search-button {
			color: $light_grey;
			position: relative;
			top: -39px;
			margin-left: 207px;
			font-size: 1.5rem;
		}
	}

	.off-canvas-logo {
		margin:0 auto;
		width: 200px;
		padding: 0.3rem;
	}
    .off-canvas-list {
        .menu {
            li {
                a {
                    border-bottom: 1px solid $social_grey;
					padding: 0.5rem 0.666rem;
                }
            }
        }
    }
}

#fixed-back-to-top {
	margin-left: -75px;
	display: none;

	#back-to-top {
		bottom: 0px;
		position: fixed;
		text-transform: uppercase;
		width: 25px;

		p {
			color: $social_grey;
			font-weight: 700;
			font-size: 0.75rem;
			line-height: 1rem;
		}

		.fa {
			width:15px;
			font-size:14px;
		}
	}
}

#headlines-slider {
	background-color: $light_grey;
	border-bottom: 1px solid #9a9a9a;
	height: 90px;
	.slider {
		background-color: $light_grey;
		margin-bottom: 0;

		.header-prev.fa,
		.header-next.fa {
			position: absolute;
			display: block;
			height: 30px;
			width: 30px;
			cursor: pointer;
			background: transparent;
			bottom: 18px;
			padding: 0;
			border: none;
			outline: none;
			color: $cst_black;
			font-size: 1.4rem;
		}

		.header-prev.fa {
			left: 10px;
		}

		.header-next.fa {
			right: -5px;
		}

		.slick-dots li button:before {
			font-size: 8px;
			color: $social_grey;
			opacity: 0.5;
		}

		.slick-dots li.slick-active button:before {
			opacity: 1;
		}

		.slick-dots.force-normal-dots li.slick-active button:before {
			opacity: 0.5 !important;
		}

		.slide {
			display: none;

			&.slick-slide {
				display: inline-block;
			}
			.slide-image-container {
				float: left;
				height: 60px;
				width: 60px;
				position: relative;
			}
			.slide-text {
				position: relative;
				display: block;
				padding: 0 0 0 4.1rem;
				/*@media #{$large-range} {
					max-width: 250px;
				}*/
			}


			.slide-inner {
				margin: 8px;
				width: auto;
				overflow: hidden;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
				height:60px;
				.slide-image {
					overflow: hidden;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
				&:hover {
					background: $light_grey;
				}
			}

			h4 {
				font-size: 0.75rem;
				line-height: 0.76rem;
				color: $cst_black;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0.1rem 0 0.2rem;
			}
			h3 {
				font-size: 0.7rem;
				line-height: 0.85rem;
				font-weight: 400;
				a {
					color: $cst_black;
				}
			}
		}

		.slick-dots {
			margin-left: 0;
			bottom: -36px;

			li {
				height: 21px;
			}
		}
	}
	&.slider-fixed{
		top: 50px;
		position: fixed;
	}
}

.menu-footer-fixed-bottom {

	bottom: 0;

	#menu-footer-container {

		position: relative;
		margin-bottom: 0;

		.menu-footer-more-info {
			background: $menu_black;
			padding:10px;
			text-transform: uppercase;

			.follow_us {
				text-transform:uppercase;
				color:$social_grey;
				font-weight:700;

				a {
					color: $social_grey;
				}

				.fa {
					margin-left:15px;
				}

				.fa-twitter:hover {
					color: $twitter_blue;
				}

				.fa-facebook:hover {
					color: $facebook_blue;
				}

				.fa-youtube-play:hover {
					color: $anchor-highlight;
				}
			}

			.cst_logo {
				width:75%;
				opacity: 0.7;
				margin-top:20px;
			}

			.cst_logo:hover {
				opacity: 1.0;
			}

			.newsfeed-logo {
				width: 95%;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			ul {
				list-style-type:none;
				margin-left:0px;
				text-align:left;
				line-height:15px;
				margin-bottom:7px;
			}

			li {
				display:inline;
				color:$social_grey;
				font-size:10px;
			}

			li a {
				color:$social_grey;
				font-weight:700;
				white-space: nowrap;
			}

			li a:hover {
				color:$anchor-highlight;
			}

			.copyright {
				font-style:italic;
				font-size:9px;
				color: $social_grey;
				font-weight:300;
				text-transform:none;
			}

			.vip-text {
				font-size: 12px;
				color: $social_grey;
				font-weight: 400;
				margin-top:7px;

				a {
					color: $social_grey;
				}

				a:hover {
					color: $anchor-highlight;
				}
			}
		}
	}
}

ul#menu-chiwire {
	font-weight: 700;
	text-transform:uppercase;
	font-size: 1.0rem;
	letter-spacing: 0.15rem;
	margin-bottom:60px;
	line-height:1.0rem;

	a:hover {
		background: $anchor-highlight;
	}
}

ul#menu-sun-times-network {
	font-weight: 700;
	text-transform:uppercase;
	font-size: 0.75rem;
	margin-bottom:0;
	line-height:1.0;

	a:hover {
		background: $anchor-highlight;
	}
}

#newsfeed-logo {
	display: block;
	font-size: 30px;
	font-weight: 700;
	img {
		width: 272px;
		height: 34px;
	}
	margin-top: 3px;
	@media (min-width: 641px) and (max-width: 981px) {
		margin-left: 40px;
	}

	@media #{$small-only} {
		margin-top: -10px;
		margin-bottom: 10px;

		img {
			width: 150px;
			height: 19px;
		}
	}
}

body.single {

	#newsfeed-logo {

		@media #{$small-only} {
			margin-top: 3px;
			margin-bottom: 10px;
		}

	}
}

#wpadminbar {
	z-index: 999999;
}

.upper-heading {
	margin-bottom: 10px;
	margin-top:10px;
}
.top-bar {
	.toggle-topbar {
		right: auto;
		left: 0;
		&.menu-icon {
			right: 28px;
		}
		a {
			height:auto;
			line-height:1;
		}
	}
}
@media #{$small-only} {
	.top-bar {
		.toggle-topbar {
			&.menu-icon {
				padding-left:1px;
				right: 21px;
			}
		}
	}
}
.masthead {
	.contain-to-grid {
		background: $light_grey;
	}
	.utility {
		background-color: $cst_black;
		width: 100%;
		float: left;

	}

	@media #{$large-down} {
		.top-bar-section {
			ul {
				width: inherit;
			}
		}
		.nav-tools {
			ul {
				li {
					padding: 0 17px;
					display: inline-block;
				}
			}
		}
	}
	.subscribe-link {
		border: 1px $white solid;
		padding:0 6px;
		margin-top:7px;
		display:block;
		color: $light_grey;
		a, a:visited, a:focus, a:hover {
			color: $light_grey;
			font-size: 0.8rem;
		}
	}
}
