#ie8-user {
	text-align:center;
	margin-top:20px;

	.icon {
		width:50px;
		height:50px;
	}

	.update_browser {
		font-size:2.0rem;
		text-transform:uppercase;
		font-family:$open_sans;
		font-weight:800;
		vertical-align:middle;
		margin-right:15px;
	}

}

header#header {
	position: relative;

	background-color: $masthead_background;

	#weather {
		position:absolute;
		right:0px;
		top:20px;
		color:$white;
		text-transform:uppercase;
		font-family: $open_sans;

		.degrees {
			font-size:1.0rem;
			margin-right:10px;
		}

		.description {
			font-weight:600;
			font-size:0.75rem;
		}

	}

	.responsive-logo-wrapper {
		position: relative;
		.small-logo {
			width: 230px;
			height: 45px;
			margin: -2px auto 0;
		}
	}

	section#primary-navigation {
		height: 50px;
		z-index: 100100;
		background-color: $cst_black;

		a#burger-bar {
			color: $white;
			display: block;

			.fa {
				padding-left: 10px;
				padding-right: 10px;
				font-size: 30px;
				line-height: 50px;
			}
		}

		a#burger-bar {
			background: $red;
			float: left;
		}



		#logo-wrap {
			margin-left: 20px;
			line-height: 36px;
			display: inline-block;
			overflow-y: hidden;
			height: 50px;
			padding-top: 5px;
			padding-right: 5px;

			@media #{$small-only} {
				margin-left: 55px;
			}

			#tablet-home {

				@media (min-width: 981px) {
					display: none;
				}
				@media (min-width: 641px) and (max-width: 980px) {
					display: none;
					position: absolute;
				    top: 3px;
				    left: 55px;
				    font-size: 40px;
				    
				    .fa {
				    	color: $white;
				    }
				}
				@media (max-width: 640px) {
					display: none;
				}
			}
		}

		a#suntimes-logo {

			img {
				width: 334px;

				@media #{$medium-only} {
					width: 267px;
				}
				@media #{$small-only} {
					width: 227px;
				}
			}
		}

		a#newsfeed-logo {
			display: none;
			text-transform: uppercase;

			img {
				width: 204px;
				@media #{$small-only} {
					width: 170px;
				}
			}
		}

		a#newsfeed-logo:hover {
			color: $light_grey;
		}
		
		@media #{$small-only} {
			#trending-container {
				display:none;
			}

			a#chiwire-logo {
				position:absolute;
				left:46px;
			}

			a#burger-bar {
				position:absolute;
			}

			#mobile-home {
				display: none;
				position: absolute;
				right: 15px;
				top: 10px;

				a {
					color: $white;
					font-size: 1.55rem;
				}
			}
		}
		
		@media #{$medium-up} {

			#mobile-home {
				display: none;
			}
		}

		@media #{$xmedium-up} {

			#trending-container {
				font-weight: 700;
				text-transform: uppercase;
				bottom: 30px;
				position: relative;
				margin-left: 440px;
				margin-right: 130px;
				margin-top: -5px;
				height: 20px;
				overflow-y: hidden;
				visibility: hidden;

				.menu-trending-container {
					display:inline;
					
					#menu-trending {
						margin-left:0;
						font-size:.8rem;
					}
				}
				
				span.menu-label {
					font-weight:700;
					text-transform:uppercase;
					color:$red;
				}

				ul {
					list-style-type:none;
					display:inline;
					overflow:hidden;
					margin-bottom: 0;
					height: 20px;

					li {
						display:inline-block;
						margin-left:20px;
					}

					li a {
						color:$white;
						font-weight:700;
					}

					li a:hover {
						color:$white;
						opacity:0.7;
					}

					li .fa {
						padding-right: 5px;
					}

					li .fa.fa-cst-topic:before {
						content: "#"
					}
					
				}
			}
		}

	}
	
	.primary-fixed {
		position: fixed;
		top: 0px;
		z-index: 99998;
		width: 100%;
		background: $black;
	}
	
	.primary-normal {
		position: relative;
		top: auto;
	}

	#headlines-slider {
		width: auto;
	}

}

  .off-canvas-wrap, .inner-wrap {
            min-height: 100%;
        }

        .off-canvas-wrap{  
        height: 100%;
        overflow-y: auto;
        }

.left-off-canvas-menu {
	ul {
		margin-left:0;
	}
	
	.menu {
		list-style-type:none;
	}

	.off-canvas-menu {
		height: 100%;
		overflow-y: auto;
	}

	.fixed-canvas-menu {
		position: absolute;
		width: 100%;
		height:100%;
		overflow-y:auto;	
	}

	.search-wrap {
		margin-bottom: 0px;

		#search-input {
			background-color: $menu_black;
			margin-top: 10px;
			padding-left: 10px;
			padding-right: 40px;
			width: 90%;
			margin-left: 10px;
			float: center;
			color: $light_grey;
			font-size: 0.75rem;
			font-style: italic;
			height: 40px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $social_grey;
		}

		#search-input:focus {
			outline: 0;
		}

		a#search-button {
			background-color: $menu_black;
			color: $light_grey;
			position: relative;
			top: -32px;
			margin-left: 205px;
		}
	}


}

#fixed-back-to-top {
	margin-left: -75px;
	display: none;

	#back-to-top {
		bottom: 0px;
		position: fixed;
		text-transform: uppercase;
		width: 25px;

		p {
			color: $social_grey;
			font-weight: 700;
			font-size: 0.75rem;
			line-height: 1rem;
		}

		.fa {
			width:15px;
			font-size:14px;
		}
	}
}

#headlines-slider {
	background-color: $light_grey;
	border-bottom: 1px solid $cst_black;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	margin-bottom: 2px;
	height: 134px;
	.slider {
		background-color: $light_grey;
		margin-bottom: 0;

		.header-prev.fa,
		.header-next.fa {
			position: absolute;
			display: block;
			height: 30px;
			width: 30px;
			cursor: pointer;
			background: transparent;
			bottom: 57px;
			padding: 0;
			border: none;
			outline: none;
			color: $cst_black;
			font-size: 1.6rem;
		}

		.header-prev.fa {
			left: 10px;
		}

		.header-next.fa {
			right: 2px;
		}

		.slick-dots li button:before {
			font-size: 8px;
			color: $social_grey;
			opacity: 0.5;
		}

		.slick-dots li.slick-active button:before {
			opacity: 1;
		}

		.slick-dots.force-normal-dots li.slick-active button:before {
			opacity: 0.5 !important;
		}

		.slide {
			display: none;

			&.slick-slide {
				display: inline-block;
			}
			.slide-image-container {
				float: left;
				height: 100px;
				width: 100px;
				position: relative;
			}
			.slide-text {
				position: relative;
				display: block;
				padding: 0 1.5rem 0 6.8rem;
				/*@media #{$large-range} {
					max-width: 250px;
				}*/
			}

		
			.slide-inner {
				margin: 13px 8px;
				width: auto;
				overflow: hidden;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
				height:100px;
				.slide-image {
					overflow: hidden;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
				&:hover {
					background: $light_grey;
				}
			}

			h4 {
				font-size: 0.75rem;
				line-height: 0.9rem;
				color: $cst_black;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 0.2rem;
			}
			h3 {
				font-size: 0.9rem;
				line-height: 1.23rem;
				font-weight: 400;
				a {
					color: $cst_black;
				}
			}
		}

		.slick-dots {
			margin-left: 0;
			bottom: -29px;

			li {
				height: 21px;
			}
		}
	}
}

.menu-footer-fixed-bottom {

	bottom: 0px;

	#menu-footer-container {

		position: relative;
		margin-bottom: 0px;

		.menu-footer-more-info {
			background: $menu_black;
			padding:10px;
			text-transform: uppercase;

			.follow_us {
				text-transform:uppercase;
				color:$social_grey;
				font-weight:700;

				a {
					color: $social_grey;
				}

				.fa {
					margin-left:15px;
				}

				.fa-twitter:hover {
					color: $twitter_blue;
				}

				.fa-facebook:hover {
					color: $facebook_blue;
				}

				.fa-youtube-play:hover {
					color: $red;
				}
			}

			.cst_logo {
				width:75%;
				opacity: 0.7;
				margin-top:20px;
			}

			.cst_logo:hover {
				opacity: 1.0;
			}

			.newsfeed-logo {
				width: 95%;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			
			ul {
				list-style-type:none;
				margin-left:0px;
				text-align:left;
				line-height:15px;
				margin-bottom:7px;
			}
			
			li {
				display:inline;
				color:$social_grey;
				font-size:10px;
			}
			
			li a {
				color:$social_grey;
				font-weight:700;
				white-space: nowrap;
			}
			
			li a:hover {
				color:$red;
			}

			.copyright {
				font-style:italic;
				font-size:9px;
				color: $social_grey;
				font-weight:300;
				text-transform:none;
			}

			.vip-text {
				font-size: 12px;
				color: $social_grey;
				font-weight: 400;
				margin-top:7px;

				a {
					color: $social_grey;
				}

				a:hover {
					color: $red;
				}
			}
		}
	}
}

ul#menu-chiwire {
	font-weight: 700;
	text-transform:uppercase;
	font-size: 1.0rem;
	letter-spacing: 0.15rem;
	margin-bottom:60px;
	line-height:1.0rem;

	a:hover {
		background: $red;
	}
}

ul#menu-sun-times-network {
	font-weight: 700;
	text-transform:uppercase;
	font-size: 0.75rem;
	margin-bottom:0;
	line-height:1.0;

	a:hover {
		background: $red;
	}
}

#newsfeed-logo {
	display: block;
	font-size: 30px;
	font-weight: 700;
	img {
		width: 272px;
		height: 34px;
	}
	margin-top: 30px;
	@media (min-width: 641px) and (max-width: 981px) {
		margin-left: 40px;
	}

	@media #{$small-only} {
		margin-top: -10px;
		margin-bottom: 10px;

		img {
			width: 150px;
			height: 19px;
		}
	}
}

body.single {

	#newsfeed-logo {

		@media #{$small-only} {
			margin-bottom: 15px;
		}

	}
}

#wpadminbar {
	z-index: 999999;
}

.upper-heading {
	margin-bottom: 10px;
	margin-top:10px;
}
header .contain-to-grid .top-bar ul li {
	background: $cst_black;
}
.masthead {

	.utility {
		background-color: $cst_black;
		.weather {
			border-left: 1px solid $cst_yellow;
			border-right: 1px solid $cst_yellow;
			padding: 10px 8px;
			.weather-link {
				line-height: 24px;
				color: $white;
				&:hover,
				&:visited {
					color: $white;
				}
			}
		}
		.search {
			.has-form {
				background-color: $cst_black;
			}
			@media #{$large-down} {
				.has-form {
					padding: 8px 0 0;
				};
			}
			background-color: $cst_black;
			.button,
			.search-input {
				height: 1.7rem;
				width: 100%;
				//transition: width 1s;
				&:focus {
					width: 100%;
				}
			}
			.search-input-wrapper {
				padding:2px;
				.search-icon{
					font-size: 1.675rem;
					float:left;
					margin-left:1rem;
					color: $white;
				}
			}
			.glass {
				font-size: 1.5rem;
				color: #ffffff;
				line-height: 2.5rem;
			}

			.subscribe {
				color: $white;
				background-color: $site_background;

			}
			#search-button {
				font-size: 1.5rem;
				color: #333333;
				position: absolute;
				right: inherit;
				top: 5px;
				background: transparent;
			}
		}
	}
	.date {
		font-family: $merriweather;
		height: 26px;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	@media #{$large-down} {
		.top-bar-section {
			ul {
				width: inherit;
			}
		}
		.nav-tools {
			ul {
				li {
					padding: 0 17px;
					display: inline-block;
				}
			}
		}
	}
	.subscribe-link {
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		border: 2px #666 solid;
		padding:3px 5px;
		margin-top:4px;
		display:block;
		background-color: $white;
		a, a:visited, a:focus, a:hover {
			color: $cst_black;
		}
	}
}


