#nativo-sponsored {
    position: relative;

    h4 {
        font-size: .75rem;
        font-weight: 700;
    }

    ul.nativo-sponsored-articles {
        margin-left: 0;
        padding-left: 0;

        #nativo-sponsored-article-image {
            img {
                width: 140px;
                height: 80px;
            }
        }

        li {
            background: $white;
            padding: 5px;
            font-size: .75rem;
            line-height: .85rem;
            border-top: 1px solid $grey;
        }

        li:nth-of-type(1) {
            border: none;
        }
    }
}