body.search {
	background: $white;
}

#search-body {
	background: $white;

	
	.gsc-table-result {
		border: none;
	}
	
	.gsc-selected-option-container {
		min-width: 100px;
	}

	.gsc-wrapper {
		table {
			border: none;
		}
	}

	.gsc-above-wrapper-area {
		border-bottom: none;

		table {
			margin-bottom: 0px;
		}
	}

	.gsc-resultsRoot {
		table {
			margin-bottom: 0px;
		}
	}

	.gs-title {
		line-height: 1.25rem;
		text-decoration: none;

		b {
			text-decoration: none;
		}
	}
	
	.gs-webResult div.gs-visibleUrl-short {
		visibility: none;
	}

	.gsc-url-top {
		margin-top: 5px;
	}
}
