
#main {
	.video-injection {
		margin-bottom:0;
	}
}
.upper-heading {
	margin-bottom: 30px;
}
.section-meta {
	.section-name,
	.section-feed {
		float: left;
	}
	.section-feed {
		.icon {
			float:right;
			margin-top: 15px;
		}
	}
}