.lifestyles {

    header#header {

        section#primary-navigation {
            
            a#newsfeed-logo {
                
                img {
                    width: 174px;
                }
            }
        }
    }

    #newsfeed-logo {
        
        img {
            height: 34px;
            width: 168px;
        }
    }
}